<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.accp.dao.tsy.TsyUserDao">
	<select id="queryEmail" resultType="java.lang.Integer">
		SELECT COUNT(*) FROM `login`
		WHERE userEmail=#{email}
	</select>
	<insert id="saveEmailUser">
		INSERT INTO
		`user`(`userName`,`userSex`,`userMoney`,`userIntegral`,`merchantType`)
		VALUES(#{emailDate.nickName},1,0,0,0);
		INSERT INTO `login`(`userID`,`loginType`,`userEmail`,`userPwd`)
		VALUES((SELECT MAX(`userID`) FROM `user`),1,#{emailDate.email},#{emailDate.password})
	</insert>
	<select id="login" resultType="com.accp.pojo.User">
	SELECT * FROM `user`
	WHERE `userID` = (SELECT `userID` FROM `login` WHERE `userEmail`=#{email} AND `userPwd`=#{password})
	</select>
	<update id="updatePwd">
		UPDATE `login`
		SET `userPwd`=#{password}
		WHERE `userEmail`=#{email}
	</update>
	<select id="queryUser" resultType="com.accp.pojo.User">
		SELECT * FROM `user`
		where `userID` = #{userID}
	</select>
</mapper>