<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8" />
		<title>登录_韩汀社区</title>
		<link rel="icon" href="../Public/images/favicon.ico" type="image/x-icon" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="keywords" content="御品韩汀，韩汀社区，韩汀，湖南韩汀电子商务有限公司" />
		<meta name="description" content="湖南韩汀电子商务有限公司主要服务范围有海外自驾游，微整形，留学中介，翻译，学习资源，国际物流等项目，主要以大陆国人和海外同胞为服务对象。商家可入驻社区开店，用户可在平台内快速的找到自己需要的服务项目。海外商家对国内用户以及海外同胞开放服务，双方各持所需，互利互惠，是一款海外华人生活，兼职向导平台。 

韩汀宗旨:“崇尚以人为本、客户第一的服务宗旨。热诚为广大客户提供良好的售后服务和技术支持, 保障客户的投资得到良好的回报。”

企业口号：“韩汀—带给你看得到的未来,说不出的精彩!”。

企业理念：”诚信为本,惠于顾客,奉于社会”

企业目标：”建设海外一流社区平台，与广大合作伙伴与时俱进,互利互惠!”。" />
		<link rel="stylesheet" href="../Public/css/base.css" />

		<link rel="stylesheet" type="text/css" href="../Public/css/store.css" />
		<link rel="stylesheet" type="text/css" href="../Public/css/qikoo.css" />
		<link rel="stylesheet" type="text/css" href="../Public/css/style.css" />
		<link rel="stylesheet" type="text/css" href="../Public/css/bootstrap.min.css" />
		<link rel="stylesheet" href="../Public/css/commonstyle.css" />
		<link rel="stylesheet" type="text/css" href="../Public/css/login.css" />
		<link rel="stylesheet" type="text/css" href="../Public/css/util.css" />
		<link rel="stylesheet" type="text/css" href="../Public/fonts/font-awesome-4.7.0/css/font-awesome.min.css" />
		<link rel="stylesheet" type="text/css" href="../Public/fonts/iconic/css/material-design-iconic-font.min.css"/>
			<script src="../Public/js/jquery-1.12.4.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript" src="../Public/js/bootstrap.min.js"></script>
		<style>
			#grad {
   background: -webkit-linear-gradient(right, red , blue); /* Safari 5.1 - 6.0 */
            background: -o-linear-gradient(right, red, blue); /* Opera 11.1 - 12.0 */
            background: -moz-linear-gradient(right, red, blue); /* Firefox 3.6 - 15 */
            background: linear-gradient(right, red , blue); /* 标准的语法（必须放在最后） */

}
			/*<=423的设备*/
			
			@media (max-width:423px) {
				.head a {
					font-size: 10px;
				}
			}
			/*>=1260的设备*/
			
			@media (min-width:1260px) {
				.navbar-nav>li>a {
					margin: 0px 50px;
				}
				.navbar-nav {
					float: left;
					margin: 50px;
					font-size: 20px;
				}
			}
		</style>

	</head>

	<body>
		<!--head-->
		<div class="container-fluid" >

			<div class="row"  style="background-color:#fffae1;">

				<div class="col-md-8 col-sm-7 col-xs-12 col-md-offset-1 col-sm-offset-1" >
					<ul class="list-inline head">
						<li>
							<a href="">首页</a>&nbsp;&nbsp;&nbsp;<span style="color: #C6C3B1;">|</span></li>
						<li>
							<a href="">商家入驻</a>&nbsp;&nbsp;&nbsp;<span style="color: #C6C3B1;">|</span></li>
						<li>
							<a href="">帮助中心</a>&nbsp;&nbsp;&nbsp;<span style="color: #C6C3B1;">|</span></li>
						<li>
							<a href="">关于韩汀</a>&nbsp;&nbsp;&nbsp;<span style="color: #C6C3B1;">|</span></li>
						<li>
							<a href="">联系我们</a>
						</li>
					</ul>
				</div>

				<div class="col-md-3 col-sm-4 col-xs-7 hidden-xs">
					<ul class="list-inline head">
						<li>
							<a href="">登录</a>&nbsp;&nbsp;&nbsp;<span style="color: #C6C3B1;">|</span></li>
						<li>
							<a href="register.html">注册</a>
						</li>

					</ul>
				</div>
			</div>

		</div>

<div class="container-fluid">
	<div class="row">
		<div class="col-lg-12 text-center" style="padding: 40px;" >
			<img src="../Public/images/logo_community.png" />
			<h3 style="color: #8D4378;letter-spacing: 4px;display: inline-block;vertical-align: middle;padding-top:20px;">欢迎登录</h3>
		</div>
	</div>
</div>
		
		<div class="container-fluid" id="grad">
			<div class="row">
				<div class="col-lg-6 col-md-6 col-sm-6 hidden-xs">
					<img src="../Uploads/adv/20180429124619-44314.jpg" class="img-responsive center-block"
						style="margin-top:25%;"/>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-6">
					
					<div class="limiter">
			<div class="container-login100"  >
				<div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">
					<form class="login100-form validate-form" action="Member_Center.html" method="get">
						<span class="login100-form-title p-b-49">使用邮箱登录</span>

						<div class="wrap-input100 validate-input m-b-23" data-validate="请输入邮箱">
							<span class="label-input100">邮箱</span>
							<input class="input100" type="email" name="username" placeholder="请输入邮箱" autocomplete="off">
							<span class="focus-input100" data-symbol="&#xf206;"></span>
						</div>

						<div class="wrap-input100 validate-input" data-validate="请输入密码">
							<span class="label-input100">密码</span>
							<input class="input100" type="password" name="pass" placeholder="请输入密码">
							<span class="focus-input100" data-symbol="&#xf190;"></span>
						</div>

						<div class="text-right p-t-8 p-b-31">
							<a href="javascript:">忘记密码？</a>
						</div>

						<div class="container-login100-form-btn">
							<div class="wrap-login100-form-btn">
								<div class="login100-form-bgbtn"></div>
								<button class="login100-form-btn">登 录</button>
							</div>
						</div>

						<div class="txt1 text-center p-t-54 p-b-20">
							<span>第三方登录</span>
						</div>

						<div class="flex-c-m">
							<a href="#" class="login100-social-item bg1">
								<i class="fa fa-wechat"></i>
							</a>

							<a href="#" class="login100-social-item bg2">
								<i class="fa fa-qq"></i>
							</a>

							<a href="#" class="login100-social-item bg3">
								<i class="fa fa-weibo"></i>
							</a>
						</div>

						<div class="flex-col-c p-t-25">
							<a href="register.html" class="txt2">立即注册</a>
						</div>
					</form>
				</div>
			</div>
		</div>
				</div>
			</div>
		</div>

		<!--底部-->
		<div class="container-fluid" >
			<div class="row" >

				<div class="footer" style="margin-top: 0px;">
					<div class="footerinner">
						<ul class="share">
							<li>
								<img class="weibo_icon" src="../Public/images/share1.png" alt="">
							</li>
							<li>
								<img class="qq_icon" src="../Public/images/share2.png" alt="">
							</li>
							<li>
								<img class="twitter_icon" src="../Public/images/share3.png" alt="">
							</li>
							<li>
								<img class="wechat_icon" src="../Public/images/share4.png" alt="">
							</li>
						</ul>
						<div class="code_wrap">
							<ul class="code">
								<li><img class="weibo" src="../Public/images/weibo1.png" alt=""></li>
								<li><img class="qq" src="../Public/images/qq1.png" alt=""></li>
								<li><img class="twitter" src="../Public/images/twitter1.png" alt=""></li>
								<li><img class="wechat" src="../Public/images/wechat1.png" alt=""></li>
							</ul>
						</div>
						<div class="footerinfo">
							<div class="footerinfoTop">

								<p>
									<ul class="list-inline">
										<li>
											<a href="">商家入驻</a>
										</li>
										<li>
											<a href="">帮助中心</a>
										</li>
										<li>
											<a href="">人才招聘</a>
										</li>
										<li>
											<a href="">联系我们</a>
										</li>
										<li>
											<a href="">网站地图</a>
										</li>
										<li>
											<a href="">使用条款</a>
										</li>
									</ul>
								</p>
								<p>湘ICP备16017200号-2 | 地址：湖南省株洲市天元区丽景滨江二栋2502号 |网站负责人：夏先生 | 邮编：412000</p>
								<p>官方QQ：3119683838 | 微信公众号：御品韩汀 | 官网邮箱：3119683838@qq.com | 官方热线电话：0731-2286-7673</p>
							</div>
							<div class="footerinfoBottom">
								<p class="min">Copyright &copy;2019 - 2020 yphting.com 版权所有</p>
							</div>
						</div>
					</div>
				</div>

			</div>

		</div>

		<!--右侧固定栏-->

		<div class="suspension" style="margin-top:50px;">
			<div class="suspension-box">
				<a href="#" class="a a-service "><i class="i"></i></a>
				<a href="javascript:;" class="a a-service-phone "><i class="i"></i></a>
				<a href="javascript:;" class="a a-qrcode"><i class="i"></i></a>
				<a href="javascript:;" class="a a-top"><i class="i"></i></a>
				<div class="d d-service">
					<i class="arrow"></i>
					<div class="inner-box">
						<div class="d-service-item clearfix">
							<a href="http://wpa.qq.com/msgrd?v=3&uin=1239071811&site=qq&menu=yes" target="_blank" class="clearfix"><span class="circle"><i class="i-qq"></i></span>
								<h3 style="margin:5px;">咨询在线客服</h3></a>
						</div>
					</div>
				</div>
				<div class="d d-service-phone">
					<i class="arrow"></i>
					<div class="inner-box">
						<div class="d-service-item clearfix">
							<span class="circle"><i class="i-tel"></i></span>
							<div class="text">
								<p>服务热线</p>
								<p class="red number">4001-021-758</p>
							</div>
						</div>

					</div>
				</div>
				<div class="d d-qrcode">
					<i class="arrow"></i>
					<div class="inner-box">
						<div class="qrcode-img"><img src="../Public/images/r_ewm.jpg" alt=""></div>
						<p>微信服务号</p>
					</div>
				</div>

			</div>
		</div>

	</body>

	<script src="../Public/js/footer_suspend.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript" src="../Public/js/qikoo.js"></script>
	<script src="../Public/js/login.js" type="text/javascript" charset="utf-8"></script>

</html>