<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册_韩汀社区</title>
		<link rel="icon" href="../Public/images/favicon.ico" type="image/x-icon" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="keywords" content="御品韩汀，韩汀社区，韩汀，湖南韩汀电子商务有限公司" />
		<meta name="description" content="湖南韩汀电子商务有限公司主要服务范围有海外自驾游，微整形，留学中介，翻译，学习资源，国际物流等项目，主要以大陆国人和海外同胞为服务对象。商家可入驻社区开店，用户可在平台内快速的找到自己需要的服务项目。海外商家对国内用户以及海外同胞开放服务，双方各持所需，互利互惠，是一款海外华人生活，兼职向导平台。 

韩汀宗旨:“崇尚以人为本、客户第一的服务宗旨。热诚为广大客户提供良好的售后服务和技术支持, 保障客户的投资得到良好的回报。”

企业口号：“韩汀—带给你看得到的未来,说不出的精彩!”。

企业理念：”诚信为本,惠于顾客,奉于社会”

企业目标：”建设海外一流社区平台，与广大合作伙伴与时俱进,互利互惠!”。" />
<link rel="stylesheet" type="text/css" href="../Public/css/register.css"/>
		<link rel="stylesheet" type="text/css" href="../Public/css/style.css" />
		
		<link rel="stylesheet" href="../Public/css/commonstyle.css" />
</head>
<body>

<div class="header" style="margin-bottom: 0px;">
    <div class="header-container">
    <a href="register.html" style="float: right;">注册</a>
    <span style="float: right;padding:5px;">|</span>
      <a href="login.html" style="float: right;">登录</a>

      <a href="">首页</a><span>|</span>
      <a href="">商家入驻</a><span>|</span>
      <a href="">帮助中心</a><span>|</span>
       <a href="">关于韩汀</a><span>|</span>
      <a href="">联系我们</a>
    </div>
</div>
<div style="background-color: #FFFFFF;margin: 0;text-align: center;padding: 40px;">
	<img src="../Public/images/logo_community.png" style="vertical-align: middle;" />
			<h3 style="color: #8D4378;letter-spacing: 4px;display: inline-block;font-size: 20px;position: relative;bottom:-17px;">注册</h3>
</div>
<div class="main" >
    <div class="main-form">
        <form action="" id="form">
            <div class="form-tab">
                <ul>
                    <li class="cur-tab">
                        <span class="phone-icon"></span>
                        <span>手机注册</span>
                    </li>
                    <li>
                        <span class="email-icon"></span>
                        <span>邮箱注册</span>
                    </li>
                </ul>
            </div>
            <div class="form-content">
                <div class="phone-res">
                    <div class="form-group">
                        <label for="userName">手机号码</label>

                        <div class="input-group">
                            <input id="userName" type="text" placeholder="请输入手机号码"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="drag0">滑动验证</label>

                        <div class="drag" id="drag0"></div>
                    </div>
                    <div class="form-group">
                        <label for="cen-code">验证号码</label>

                        <div class="input-group">
                            <input id="cen-code" type="text" placeholder="请输入验证码"/>
                            <button id="getCodeBtn">获取验证码</button>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="pwd">登录密码</label>
                        <div class="input-group">
                            <input id="pwd" type="password" placeholder="请输入登录密码"/>
                            <em></em>
                        </div>
                    </div>
                    <div class="form-group marl form-group-sp">
                        <input id="service_item" type="checkbox"/><label for="service_item"><span>同意并遵守</span><a class="service-item" href="#">《服务条款》</a></label>
                    </div>
                    <div class="form-group marl">
                        <a href="#" class="login-btn">立即注册</a>
                    </div>

                </div>
            </div>
            <div class="form-content hide">
                <div class="email-res">
                    <div class="form-group">
                        <label for="emailAdres">常用邮箱</label>

                        <div class="input-group">
                            <input id="emailAdres" type="text" placeholder="请输入常用邮箱"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="drag1">滑动验证</label>

                        <div class="drag" id="drag1"></div>
                    </div>
                    <div class="form-group">
                        <label for="cen-code">验证号码</label>

                        <div class="input-group">
                            <input type="text" placeholder="请输入验证码"/>
                            <button id="getCodeBtn0">获取验证码</button>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="pwd0">登录密码</label>
                        <div class="input-group">
                            <input id="pwd0" type="password" placeholder="请输入登录密码"/>
                            <em></em>
                        </div>
                    </div>
                    <div class="form-group marl form-group-sp">
                        <input id="service_item0" type="checkbox"/><label for="service_item0"><span>同意并遵守</span><a class="service-item" href="#">《服务条款》</a></label>
                    </div>
                    <div class="form-group marl">
                        <a href="#" class="login-btn">立即注册</a>
                    </div>

                </div>
            </div>

        </form>
    </div>
</div>

<script src="../Public/js/jquery-1.12.4.js" type="text/javascript" charset="utf-8"></script>
<script src="../Public/js/register.js" type="text/javascript" charset="utf-8"></script>

<script type="text/javascript">
    // input 聚焦清空 离开还原 用户输入时 后边出现清空按钮,点击可以清空
    ~function () {

        //input 聚焦清空 离开还原 用户输入时 后边出现清空按钮,点击可以清空
        function inputFun(input_id) {
            var input_id = document.getElementById(input_id), new_i = document.createElement("i");
            new_i.innerHTML = "×";
            input_id.val = input_id.getAttribute("placeholder"); // 自定义属性
            //聚焦时清空placeholder
            input_id.onfocus = function () {
                this.setAttribute("placeholder", "");
                this.style.color = "#333";
            };
            input_id.onblur = function () {
                this.setAttribute("placeholder", this.val);
                this.style.color = "#888";
            };

            // 用户输入时同时出现后边的清空按钮
            input_id.onkeydown = function () {
                if (this.value != "") {
                    this.parentNode.appendChild(new_i);
                }
            };

            input_id.onkeyup = function () {
                if (this.value == "") {
                    this.parentNode.removeChild(new_i);
                }
            };

            // 点击请空按钮 input 输入清空
            new_i.onclick = function () {
                this.parentNode.children[0].value = "";
                this.parentNode.removeChild(this);
            }
        }

        inputFun("userName");
        inputFun("pwd");
    }();

    //滑动验证
    $('.drag').drag();

    //点击获取验证码
    ~function () {
        function getCode(btnId) {
            var getCodeBtn = document.getElementById(btnId);
            var timer = null, num = 30;
            getCodeBtn.onclick = function () {
                var _this = this;
                this.className = "clicked";
                this.disabled = true;
                timer = window.setInterval(function () {
                    if (num == 0)
                    {
                        _this.className = "";
                        _this.disabled = false;
                        _this.innerHTML = "获取验证码";
                        clearInterval(timer);
                        num = 30;
                        return;
                    }
                    _this.innerHTML = num-- + " s后重新获取";
                }, 1000);
            }
        }

        getCode("getCodeBtn");
        getCode("getCodeBtn0");
    }();


    // 选项卡
    ~function () {
        var lis = document.getElementById("form").children[0].getElementsByTagName("li");
        var form_contents = $(".form-content");
        console.log(form_contents.length);
        for (var i = 0; i < lis.length; i++) {
            var liEle = lis[i];
            liEle.index = i;
            liEle.onclick = function () {
                for (var j = 0; j < lis.length; j++) {
                    var liLink = lis[j];
                    liLink.className = "";
                    form_contents[j].className = "form_contents hide";
                }
                this.className = "cur-tab";
                form_contents[this.index].className = "form_contents show";
            }
        }
        
    }();
    

</script>
<div class="footer" style="margin-top: 150px;">
					<div class="footerinner">
						<ul class="share">
							<li>
								<img class="weibo_icon" src="../Public/images/share1.png" alt="">
							</li>
							<li>
								<img class="qq_icon" src="../Public/images/share2.png" alt="">
							</li>
							<li>
								<img class="twitter_icon" src="../Public/images/share3.png" alt="">
							</li>
							<li>
								<img class="wechat_icon" src="../Public/images/share4.png" alt="">
							</li>
						</ul>
						<div class="code_wrap">
							<ul class="code">
								<li><img class="weibo" src="../Public/images/weibo1.png" alt=""></li>
								<li><img class="qq" src="../Public/images/qq1.png" alt=""></li>
								<li><img class="twitter" src="../Public/images/twitter1.png" alt=""></li>
								<li><img class="wechat" src="../Public/images/wechat1.png" alt=""></li>
							</ul>
						</div>
						<div class="footerinfo">
							<div class="footerinfoTop">

								<p>
									
										
											<a href="">商家入驻</a>
										
										
											<a href="">帮助中心</a>
										
											<a href="">人才招聘</a>
										
											<a href="">联系我们</a>
										
											<a href="">网站地图</a>
										
											<a href="">使用条款</a>
										
								</p>
								<p>湘ICP备16017200号-2 | 地址：湖南省株洲市天元区丽景滨江二栋2502号 |网站负责人：夏先生 | 邮编：412000</p>
								<p>官方QQ：3119683838 | 微信公众号：御品韩汀 | 官网邮箱：3119683838@qq.com | 官方热线电话：0731-2286-7673</p>
							</div>
							<div class="footerinfoBottom">
								<p class="min">Copyright &copy;2019 - 2020 yphting.com 版权所有</p>
							</div>
						</div>
					</div>
				</div>








<!--右侧固定栏-->

		<div class="suspension" style="margin-top:50px;">
			<div class="suspension-box">
				<a href="#" class="a a-service "><i class="i"></i></a>
				<a href="javascript:;" class="a a-service-phone "><i class="i"></i></a>
				<a href="javascript:;" class="a a-qrcode"><i class="i"></i></a>
				<a href="javascript:;" class="a a-top"><i class="i"></i></a>
				<div class="d d-service">
					<i class="arrow"></i>
					<div class="inner-box">
						<div class="d-service-item clearfix">
							<a href="http://wpa.qq.com/msgrd?v=3&uin=1239071811&site=qq&menu=yes" target="_blank" class="clearfix"><span class="circle"><i class="i-qq"></i></span>
								<h3 style="margin:5px;">咨询在线客服</h3></a>
						</div>
					</div>
				</div>
				<div class="d d-service-phone">
					<i class="arrow"></i>
					<div class="inner-box">
						<div class="d-service-item clearfix">
							<span class="circle"><i class="i-tel"></i></span>
							<div class="text">
								<p>服务热线</p>
								<p class="red number">4001-021-758</p>
							</div>
						</div>

					</div>
				</div>
				<div class="d d-qrcode">
					<i class="arrow"></i>
					<div class="inner-box">
						<div class="qrcode-img"><img src="../Public/images/r_ewm.jpg" alt=""></div>
						<p>微信服务号</p>
					</div>
				</div>

			</div>
		</div>

</body>
<script src="../Public/js/footer_suspend.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript" src="../Public/js/qikoo.js"></script>
</html>