<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<title>首页_韩汀社区</title>
<link rel="icon" href="/Public/images/favicon.ico" type="image/x-icon" />
<link rel="stylesheet" href="/Public/css/common.css" />
<link rel="stylesheet" href="/Public/css/owl.carousel.css" />
<link rel="stylesheet" type="text/css" href="/Public/css/qikoo.css" />
<script type="text/javascript" src="/Public/js/qikoo.js"></script>
<script src="/Public/js/showTool.js" type="text/javascript"
	charset="utf-8"></script>
	<style type="text/css">
		#text{width:500px;height:30px;text-indent: 5px;
	border-radius:5px;
	}
	#search{width: 70px;height: 32px;background-color:royalblue;border: none;
	border-radius: 5px;color:#FFFFFF;cursor: pointer;margin: 0;
	}
	#search:hover{background-color: palevioletred;}
	#word1{
		position: absolute;
		z-index: 99;
		width: 500px;
		left: 107px; 
		height: auto;
		background-color: white;
		border: black solid 1px;
		display: none;
	}
	.click_work{
		padding-bottom: 8px;
		font-weight:lighter;
		font-size: 13px;
		cursor:pointer;/*鼠标放上变成小手*/
	}
	.click_work:hover{
		color: orange;
		background-color: gray;
	}
	.error{
		color: gray;
		cursor:pointer;/*鼠标放上变成小手*/
	}
	.ones1{color: red;letter-spacing: 3px;font-weight: bold;font-size: 20px;}
	.ones2{color: #FFFFFF;letter-spacing: 3px;font-weight: bold;font-size: 20px;}
	.fixeds{position: fixed;background-color: red;width: 100%;z-index: 999;top: 0}
	.writes{border: 2px white solid;}
	.blue{border: 2px blue solid;}
	</style>
</head>

<body>
	<!--header-->
	<div class="header" id="botop">
		<div class="h_top">
			<div class="b_box">
				<div class="top_nav">
					<a href="/c/hzj/homeUrl">首页</a><span class="ht_line"></span> <a
						href="/view/sjrz">商家入驻</a><span class="ht_line"></span> <a href="">帮助中心</a><span
						class="ht_line"></span> <a href="">关于韩汀</a><span class="ht_line"></span>
					<a href="">联系我们</a>
				</div>
				<div class="top_right"></div>
			</div>
		</div>
		<div class="b_box nav_header community_header">
			<a href="/c/hzj/homeUrl" class="logo logo_community">御品韩汀.社区</a>
			<ul class="nav_ul">
				<li><a href="/c/ydk/serviceUrl?htmlUrl=fw-zjyTAB&stid=1"><span
						class="community_sp csp1"></span><br>自驾游</a></li>
				<li><a href="/c/ydk/serviceUrl?htmlUrl=fw-wzxTAB&stid=2"><span
						class="community_sp csp2"></span><br>微整形</a></li>
				<li><a href="/c/ydk/serviceUrl?htmlUrl=fw-lxzjTAB&stid=3"><span
						class="community_sp csp3"></span><br>留学中介</a></li>
				<li><a href="/c/ydk/serviceUrl?htmlUrl=fw-hyfyTAB&stid=4"><span
						class="community_sp csp4"></span><br>韩语翻译</a></li>
				<li><a href="/c/ydk/serviceUrl?htmlUrl=fw-xxzyTAB&stid=5"><span
						class="community_sp csp5"></span><br>学习资源</a></li>
				<li><a href=""><span class="community_sp csp6"></span><br>韩汀物流</a>
				</li>
				<li><a href="/c/zrb/column?pid=1&page=1&orderId=1&essence=0"><span
						class="community_sp csp7"></span><br>韩汀·论坛 中文</a></li>
			</ul>
		</div>
	</div>
	<!--header end-->

<div id="tables">
		
	
	<table align="center" cellspacing="0" cellpadding="10" border="0" >
		<tr>
			<td style="position: relative;">
				<span class="ones1" id="charts">全站搜索</span>
				<input id="text" type="text" placeholder="输入关键字">
				<input type="button" value="搜索" id="search">
				<div id="word1"></div>
			</td>
		</tr>
	</table>
	</div>
	





	<!--banner-->
	<div id="index_banner" class="owl-carousel owl-theme"
		style="opacity: 1; display: block;margin-top: 10px">
		<div class="owl-wrapper-outer">
			<div class="owl-wrapper"
				style="left: 0px; display: block; transition: all 0ms ease 0s; transform: translate3d(0px, 0px, 0px);">
				<div class="owl-item" th:each="temp,iter : ${homeSlideshowList}">
					<div class="item">
						<a th:href="${temp.apcurl}"><img th:src="${temp.aimgpath}"
							th:alt="${temp.atitle}" class="w100"></a>
					</div>
				</div>
			</div>
		</div>
		<div class="owl-controls clickable">
			<div class="owl-pagination">
				<div class="owl-page active">
					<span class=""></span>
				</div>
				<div class="owl-page">
					<span class=""></span>
				</div>
				<div class="owl-page">
					<span class=""></span>
				</div>
			</div>
			<div class="owl-buttons">
				<div class="owl-prev">prev</div>
				<div class="owl-next">next</div>
			</div>
		</div>
	</div>
	<!--banner end-->

	<div class="b_box">
		<h2 class="index_h2_title">社区服务 开启您韩国生活的第一步 中文</h2>
		<div class="community_service_box">
			<ul class="community_service_ul">
				<li th:each="temp,iter : ${homeMidAdvertingList}"
					th:style="|width:${temp.whObj.width}px; height:${temp.whObj.height}px;|">
					<img th:src="${temp.aimgpath}"
						th:alt="${temp.atitle}" style="width: 100%;height: 100%;">
					<a th:href="${temp.apcurl}"> 
						<div class="sv_over_show">
							<h3 class="sv_h3" th:text="${temp.atitle}">自驾游</h3>
							<p class="sv_text" th:text="${temp.adescribe}">1660名导游提供服务</p>
						</div>
					</a>
				</li>
			</ul>
		</div>

		<h2 class="index_h2_title">星级服务商家推荐</h2>
		<div class="star_recommend_tab">
			<a href="javascript:void(0);" class="cur">自驾游</a> <a
				href="javascript:void(0);">微整形</a> <a href="javascript:void(0);">留学中介</a>
			<a href="javascript:void(0);">韩语翻译</a> <a href="javascript:void(0);">学习资源</a>
		</div>

		<div class="star_recommend_show" style="display: block;">
			<div id="star_recommend_part_0"
				class="owl-carousel star_recommend_part owl-theme"
				style="opacity: 1; display: block;">
				<div class="owl-wrapper-outer">
					<div class="owl-wrapper"
						th:style="|width: ${recommendStidByOneList.size()*400*2}px; left: 0px; display: block; transition: all 800ms ease 0s; transform: translate3d(0px, 0px, 0px);|">
						<div class="owl-item" style="width: 400px;"
							th:each="temp,iter : ${recommendStidByOneList}">
							<div class="item">
								<a href="javascript:void(0);">
									<div class="star_img">
										<img th:src="${temp.shopImg}" th:alt="${temp.userName}">
									</div>
									<dl class="star_user_dl">
										<dt>
											<img th:src="${temp.userImgPath}" th:alt="${temp.userName}"
												class="star_user_photo">
										</dt>
										<dd>
											<div class="star_user_name_s">
												<h3 class="star_user_name" th:text="${temp.userName}">■ˉ苏〃筱萌◇◆
												</h3>
												<div class="star_pl">
													<span class="star_pl_sp"
														th:style="|width:${temp.merchantLevel*20}%;|"></span>
												</div>
											</div>
											<p class="star_user_text" th:utext="${temp.selfIntroduction}">For
												man is man and master of his fate.</p>
										</dd>
									</dl>
								</a>
							</div>
						</div>
					</div>
				</div>
				<div class="owl-controls clickable">
					<div class="owl-pagination"
						th:if="${recommendStidByOneList.size()>0}">
						<div class="owl-page active"
							th:if="${recommendStidByOneList.size()>3}">
							<span class=""></span>
						</div>
						<div class="owl-page" th:if="${recommendStidByOneList.size()>3}">
							<span class=""></span>
						</div>
						<div class="owl-page" th:if="${recommendStidByOneList.size()>6}">
							<span class=""></span>
						</div>
					</div>
				</div>
			</div>

			<a target="_blank" href="/c/ydk/serviceUrl?htmlUrl=fw-zjyTAB&stid=1"
				class="btn_a_more">查看更多<span class="sp_i_1"></span></a>
		</div>
		<div class="star_recommend_show" style="display: none;">
			<div id="star_recommend_part_0"
				class="owl-carousel star_recommend_part owl-theme"
				style="opacity: 0; display: block;">
				<div class="owl-wrapper-outer">
					<div class="owl-wrapper"
						th:style="|width: ${recommendStidByTwoList.size()*400*2}px; left: 0px; display: block; transition: all 800ms ease 0s; transform: translate3d(0px, 0px, 0px);|">
						<div class="owl-item" style="width: 400px;"
							th:each="temp,iter : ${recommendStidByTwoList}">
							<div class="item">
								<a href="javascript:void(0);">
									<div class="star_img">
										<img th:src="${temp.shopImg}" th:alt="${temp.userName}">
									</div>
									<dl class="star_user_dl">
										<dt>
											<img th:src="${temp.userImgPath}" th:alt="${temp.userName}"
												class="star_user_photo">
										</dt>
										<dd>
											<div class="star_user_name_s">
												<h3 class="star_user_name" th:text="${temp.userName}">暖暖哒</h3>
												<div class="star_pl">
													<span class="star_pl_sp"
														th:style="|width:${temp.merchantLevel*20}%;|"></span>
												</div>
											</div>
											<p class="star_user_text" th:utext="${temp.selfIntroduction}"></p>
										</dd>
									</dl>
								</a>
							</div>
						</div>
					</div>
				</div>
				<div class="owl-controls clickable">
					<div class="owl-pagination"
						th:if="${recommendStidByTwoList.size()>0}">
						<div class="owl-page active"
							th:if="${recommendStidByTwoList.size()>3}">
							<span class=""></span>
						</div>
						<div class="owl-page" th:if="${recommendStidByTwoList.size()>3}">
							<span class=""></span>
						</div>
						<div class="owl-page" th:if="${recommendStidByTwoList.size()>6}">
							<span class=""></span>
						</div>
					</div>
				</div>
			</div>

			<a target="_blank" href="/c/ydk/serviceUrl?htmlUrl=fw-wzxTAB&stid=2"
				class="btn_a_more">查看更多<span class="sp_i_1"></span></a>
		</div>
		<div class="star_recommend_show" style="display: none;">
			<div id="star_recommend_part_0"
				class="owl-carousel star_recommend_part owl-theme"
				style="opacity: 0; display: block;">
				<div class="owl-wrapper-outer">
					<div class="owl-wrapper"
						th:style="|width: ${recommendStidByThreeList.size()*400*2}px; left: 0px; display: block; transition: all 800ms ease 0s; transform: translate3d(0px, 0px, 0px);|">
						<div class="owl-item" style="width: 400px;"
							th:each="temp,iter : ${recommendStidByThreeList}">
							<div class="item">
								<a href="javascript:void(0);">
									<div class="star_img">
										<img th:src="${temp.shopImg}" th:alt="${temp.userName}">
									</div>
									<dl class="star_user_dl">
										<dt>
											<img th:src="${temp.userImgPath}" th:alt="${temp.userName}"
												class="star_user_photo">
										</dt>
										<dd>
											<div class="star_user_name_s">
												<h3 class="star_user_name" th:text="${temp.userName}">暖暖哒</h3>
												<div class="star_pl">
													<span class="star_pl_sp"
														th:style="|width:${temp.merchantLevel*20}%;|"></span>
												</div>
											</div>
											<p class="star_user_text" th:utext="${temp.selfIntroduction}"></p>
										</dd>
									</dl>
								</a>
							</div>
						</div>
					</div>
				</div>
				<div class="owl-controls clickable">
					<div class="owl-pagination"
						th:if="${recommendStidByThreeList.size()>0}">
						<div class="owl-page active"
							th:if="${recommendStidByThreeList.size()>3}">
							<span class=""></span>
						</div>
						<div class="owl-page" th:if="${recommendStidByThreeList.size()>3}">
							<span class=""></span>
						</div>
						<div class="owl-page" th:if="${recommendStidByThreeList.size()>6}">
							<span class=""></span>
						</div>
					</div>
				</div>
			</div>

			<a target="_blank" href="/c/ydk/serviceUrl?htmlUrl=fw-lxzjTAB&stid=3"
				class="btn_a_more">查看更多<span class="sp_i_1"></span></a>
		</div>
		<div class="star_recommend_show" style="display: none;">
			<div id="star_recommend_part_0"
				class="owl-carousel star_recommend_part owl-theme"
				style="opacity: 0; display: block;">
				<div class="owl-wrapper-outer">
					<div class="owl-wrapper"
						th:style="|width: ${recommendStidByFourList.size()*400*2}px; left: 0px; display: block; transition: all 800ms ease 0s; transform: translate3d(0px, 0px, 0px);|">
						<div class="owl-item" style="width: 400px;"
							th:each="temp,iter : ${recommendStidByFourList}">
							<div class="item">
								<a href="javascript:void(0);">
									<div class="star_img">
										<img th:src="${temp.shopImg}" th:alt="${temp.userName}">
									</div>
									<dl class="star_user_dl">
										<dt>
											<img th:src="${temp.userImgPath}" th:alt="${temp.userName}"
												class="star_user_photo">
										</dt>
										<dd>
											<div class="star_user_name_s">
												<h3 class="star_user_name" th:text="${temp.userName}">暖暖哒</h3>
												<div class="star_pl">
													<span class="star_pl_sp"
														th:style="|width:${temp.merchantLevel*20}%;|"></span>
												</div>
											</div>
											<p class="star_user_text" th:utext="${temp.selfIntroduction}"></p>
										</dd>
									</dl>
								</a>
							</div>
						</div>
					</div>
				</div>
				<div class="owl-controls clickable">
					<div class="owl-pagination"
						th:if="${recommendStidByFourList.size()>0}">
						<div class="owl-page active"
							th:if="${recommendStidByFourList.size()>3}">
							<span class=""></span>
						</div>
						<div class="owl-page" th:if="${recommendStidByFourList.size()>3}">
							<span class=""></span>
						</div>
						<div class="owl-page" th:if="${recommendStidByFourList.size()>6}">
							<span class=""></span>
						</div>
					</div>
				</div>
			</div>

			<a target="_blank" href="/c/ydk/serviceUrl?htmlUrl=fw-hyfyTAB&stid=4"
				class="btn_a_more">查看更多<span class="sp_i_1"></span></a>
		</div>
		<div class="star_recommend_show" style="display: none;">
			<div id="star_recommend_part_0"
				class="owl-carousel star_recommend_part owl-theme"
				style="opacity: 0; display: block;">
				<div class="owl-wrapper-outer">
					<div class="owl-wrapper"
						th:style="|width: ${recommendStidByFiveList.size()*400*2}px; left: 0px; display: block; transition: all 800ms ease 0s; transform: translate3d(0px, 0px, 0px);|">
						<div class="owl-item" style="width: 400px;"
							th:each="temp,iter : ${recommendStidByFiveList}">
							<div class="item">
								<a href="javascript:void(0);">
									<div class="star_img">
										<img th:src="${temp.shopImg}" th:alt="${temp.userName}">
									</div>
									<dl class="star_user_dl">
										<dt>
											<img th:src="${temp.userImgPath}" th:alt="${temp.userName}"
												class="star_user_photo">
										</dt>
										<dd>
											<div class="star_user_name_s">
												<h3 class="star_user_name" th:text="${temp.userName}">暖暖哒</h3>
												<div class="star_pl">
													<span class="star_pl_sp"
														th:style="|width:${temp.merchantLevel*20}%;|"></span>
												</div>
											</div>
											<p class="star_user_text" th:utext="${temp.selfIntroduction}"></p>
										</dd>
									</dl>
								</a>
							</div>
						</div>
					</div>
				</div>
				<div class="owl-controls clickable">
					<div class="owl-pagination"
						th:if="${recommendStidByFiveList.size()>0}">
						<div class="owl-page active"
							th:if="${recommendStidByFiveList.size()>3}">
							<span class=""></span>
						</div>
						<div class="owl-page" th:if="${recommendStidByFiveList.size()>3}">
							<span class=""></span>
						</div>
						<div class="owl-page" th:if="${recommendStidByFiveList.size()>6}">
							<span class=""></span>
						</div>
					</div>
				</div>
			</div>

			<a target="_blank" href="/c/ydk/serviceUrl?htmlUrl=fw-xxzyTAB&stid=5"
				class="btn_a_more">查看更多<span class="sp_i_1"></span></a>
		</div>
		<!--ad-->
		<div class="ad_box">
			<div class="fl ad_left">
				<a href=""><img th:src="${homeTopAdvertingList[0].aimgpath}"
					th:alt="${homeTopAdvertingList[0].atitle}"
					th:style="|width:${homeTopAdvertingList[0].whObj.width}px; height:${homeTopAdvertingList[0].whObj.height}px;|">
				</a>
			</div>
			<div class="fr ad_right">
				<a href=""><img th:src="${homeTopAdvertingList[1].aimgpath}"
					th:alt="${homeTopAdvertingList[1].atitle}"
					th:style="|width:${homeTopAdvertingList[1].whObj.width}px; height:${homeTopAdvertingList[1].whObj.height}px;|">
				</a>
			</div>
		</div>
		<!--ad end-->

	</div>

	
	<div class="bg_c1"><a href="">
	</a><div class="b_box"><a href="">
		</a><h2 class="index_h2_title c_0"><a href=""></a><a href="/index.php/Home/Bbs/hotlist.html">韩汀社区 学习 交流 互助不亦乐乎</a></h2>
		<div class="study_box">
			<div id="study_box" class="owl-carousel owl-theme" style="opacity: 1; display: block;">
				<!--item-->
				<div class="owl-wrapper-outer"><div class="owl-wrapper" style="width: 7200px; left: 0px; display: block;"><div class="owl-item" style="width: 1200px;"><div class="item">				
					<div class="study_part">
						<ul class="study_part_ul">
														<li>
								<a href="/index.php/Home/Bbs/lists/cid/69.html" class="study_style">办公软件</a>
								<h4 class="study_h4"><a href="/index.php/Home/Bbs/detail/aid/780.html">蘑菇租房</a></h4>
								<dl class="study_dl">
									<dt><a href="/index.php/Home/Homepage/index/sid/398.html"><img src="/Public/images/s_photo_1.jpg" alt="666" height="50" class="star_user_photo"></a></dt>
									<dd>
										<p class="study_p1"><a href="/index.php/Home/Homepage/index/sid/398.html">666</a> •  <a href="/index.php/Home/Bbs/lists/cid/69.html">办公软件</a> •  </p>
										<p class="date_sp">1天前 </p>
									</dd>
								</dl>
							</li>							<li>
								<a href="/index.php/Home/Bbs/lists/cid/47.html" class="study_style">交朋结友</a>
								<h4 class="study_h4"><a href="/index.php/Home/Bbs/detail/aid/779.html">撒点撒</a></h4>
								<dl class="study_dl">
									<dt><a href="/index.php/Home/Homepage/index/sid/470.html"><img src="http://thirdqq.qlogo.cn/qqapp/101390132/AFAB349ECA2DDD70011CE743F9625EF3/100" alt="瓶" height="50" class="star_user_photo"></a></dt>
									<dd>
										<p class="study_p1"><a href="/index.php/Home/Homepage/index/sid/470.html">瓶</a> •  <a href="/index.php/Home/Bbs/lists/cid/47.html">交朋结友</a> •  </p>
										<p class="date_sp">1天前 </p>
									</dd>
								</dl>
							</li>							<li class="last">
								<a href="/index.php/Home/Bbs/lists/cid/110.html" class="study_style">艺术类</a>
								<h4 class="study_h4"><a href="/index.php/Home/Bbs/detail/aid/776.html">驱蚊器二群翁</a></h4>
								<dl class="study_dl">
									<dt><a href="/index.php/Home/Homepage/index/sid/397.html"><img src="http://thirdqq.qlogo.cn/qqapp/101390132/F1F0A719600CF837A2C0710CD0B23076/100" alt="迷茫＆迷途" height="50" class="star_user_photo"></a></dt>
									<dd>
										<p class="study_p1"><a href="/index.php/Home/Homepage/index/sid/397.html">迷茫＆迷途</a> •  <a href="/index.php/Home/Bbs/lists/cid/110.html">艺术类</a> •  </p>
										<p class="date_sp">5天前 </p>
									</dd>
								</dl>
							</li></ul><ul class="study_part_ul">							<li>
								<a href="/index.php/Home/Bbs/lists/cid/215.html" class="study_style">脑壳疼</a>
								<h4 class="study_h4"><a href="/index.php/Home/Bbs/detail/aid/775.html">偶偶元</a></h4>
								<dl class="study_dl">
									<dt><a href="/index.php/Home/Homepage/index/sid/410.html"><img src="http://thirdqq.qlogo.cn/qqapp/101390132/2C31F78D2A84DDA7B86A638C903EEF02/100" alt="茹泚倔强つ6988" height="50" class="star_user_photo"></a></dt>
									<dd>
										<p class="study_p1"><a href="/index.php/Home/Homepage/index/sid/410.html">茹泚倔强つ6988</a> •  <a href="/index.php/Home/Bbs/lists/cid/215.html">脑壳疼</a> •  </p>
										<p class="date_sp">10天前 </p>
									</dd>
								</dl>
							</li>							<li>
								<a href="/index.php/Home/Bbs/lists/cid/105.html" class="study_style">校园互动</a>
								<h4 class="study_h4"><a href="/index.php/Home/Bbs/detail/aid/769.html">韩国签证办理需要哪些材料？</a></h4>
								<dl class="study_dl">
									<dt><a href="/index.php/Home/Homepage/index/sid/388.html"><img src="http://thirdqq.qlogo.cn/qqapp/101390132/537266AA3B3CCF3363470C10775D6F1B/100" alt="A丶S丶L丶X" height="50" class="star_user_photo"></a></dt>
									<dd>
										<p class="study_p1"><a href="/index.php/Home/Homepage/index/sid/388.html">A丶S丶L丶X</a> •  <a href="/index.php/Home/Bbs/lists/cid/105.html">校园互动</a> •  </p>
										<p class="date_sp">14天前 </p>
									</dd>
								</dl>
							</li>							<li class="last">
								<a href="/index.php/Home/Bbs/lists/cid/62.html" class="study_style">韩国签证</a>
								<h4 class="study_h4"><a href="/index.php/Home/Bbs/detail/aid/768.html">韩国签证办理需要哪些材料？</a></h4>
								<dl class="study_dl">
									<dt><a href="/index.php/Home/Homepage/index/sid/388.html"><img src="http://thirdqq.qlogo.cn/qqapp/101390132/537266AA3B3CCF3363470C10775D6F1B/100" alt="A丶S丶L丶X" height="50" class="star_user_photo"></a></dt>
									<dd>
										<p class="study_p1"><a href="/index.php/Home/Homepage/index/sid/388.html">A丶S丶L丶X</a> •  <a href="/index.php/Home/Bbs/lists/cid/62.html">韩国签证</a> •  14天前<span class="bbs_dot">·</span>最后回复<a href="/index.php/Home/Homepage/index/sid/388.html" class="lst_nem">A丶S丶L丶X</a></p>
										<p class="date_sp">14天前 </p>
									</dd>
								</dl>
							</li>						</ul>
						
						<div class="study_right">
							<a href="/index.php/Home/Bbs/lists/cid/9.html" class="study_style">美妆天地</a>
							<ul class="study_video_ul">
								<li class="last">
									<div class="study_video_img"><a href="/index.php/Home/Bbs/detail/aid/725.html"><img src="/temp/20190118101219-82170.jpg" alt="酒店有奇怪的东西" width="170" height="100"><span class="video_tiem"></span></a></div>
									<p class="study_video_text"><a href="/index.php/Home/Bbs/detail/aid/725.html">酒店有奇怪的东西</a></p>
								</li><li class="last">
									<div class="study_video_img"><a href="/index.php/Home/Bbs/detail/aid/617.html"><img src="/temp/20181023032058-11057.jpg" alt="灌灌灌灌" width="170" height="100"><span class="video_tiem"></span></a></div>
									<p class="study_video_text"><a href="/index.php/Home/Bbs/detail/aid/617.html">灌灌灌灌</a></p>
								</li><li class="last">
									<div class="study_video_img"><a href="/index.php/Home/Bbs/detail/aid/548.html"><img src="/temp/20180506095758-51083.jpg" alt="韩语入门-第一讲" width="170" height="100"><span class="video_tiem">12分13秒</span></a></div>
									<p class="study_video_text"><a href="/index.php/Home/Bbs/detail/aid/548.html">韩语入门-第一讲</a></p>
								</li>							</ul>
						</div>
					</div>					
				</div></div><div class="owl-item" style="width: 1200px;"><div class="item">				
					<div class="study_part">
						<ul class="study_part_ul">
														<li>
								<a href="/index.php/Home/Bbs/lists/cid/105.html" class="study_style">校园互动</a>
								<h4 class="study_h4"><a href="/index.php/Home/Bbs/detail/aid/763.html">湖南大学招实习生老师</a></h4>
								<dl class="study_dl">
									<dt><a href="/index.php/Home/Homepage/index/sid/388.html"><img src="http://thirdqq.qlogo.cn/qqapp/101390132/537266AA3B3CCF3363470C10775D6F1B/100" alt="A丶S丶L丶X" height="50" class="star_user_photo"></a></dt>
									<dd>
										<p class="study_p1"><a href="/index.php/Home/Homepage/index/sid/388.html">A丶S丶L丶X</a> •  <a href="/index.php/Home/Bbs/lists/cid/105.html">校园互动</a> •  </p>
										<p class="date_sp">23天前 </p>
									</dd>
								</dl>
							</li>							<li>
								<a href="/index.php/Home/Bbs/lists/cid/178.html" class="study_style">韩国简介</a>
								<h4 class="study_h4"><a href="/index.php/Home/Bbs/detail/aid/759.html">田经昌的歌星之路！</a></h4>
								<dl class="study_dl">
									<dt><a href="/index.php/Home/Homepage/index/sid/441.html"><img src="/Public/images/s_photo_1.jpg" alt="二哈" height="50" class="star_user_photo"></a></dt>
									<dd>
										<p class="study_p1"><a href="/index.php/Home/Homepage/index/sid/441.html">二哈</a> •  <a href="/index.php/Home/Bbs/lists/cid/178.html">韩国简介</a> •  </p>
										<p class="date_sp">26天前 </p>
									</dd>
								</dl>
							</li>							<li class="last">
								<a href="/index.php/Home/Bbs/lists/cid/47.html" class="study_style">交朋结友</a>
								<h4 class="study_h4"><a href="/index.php/Home/Bbs/detail/aid/751.html">yuepaoma?</a></h4>
								<dl class="study_dl">
									<dt><a href="/index.php/Home/Homepage/index/sid/429.html"><img src="http://thirdqq.qlogo.cn/qqapp/101390132/7125CD6805DB3AFB467F94731D724616/100" alt="阿giao" height="50" class="star_user_photo"></a></dt>
									<dd>
										<p class="study_p1"><a href="/index.php/Home/Homepage/index/sid/429.html">阿giao</a> •  <a href="/index.php/Home/Bbs/lists/cid/47.html">交朋结友</a> •  </p>
										<p class="date_sp">31天前 </p>
									</dd>
								</dl>
							</li></ul><ul class="study_part_ul" >							<li>
								<a href="/index.php/Home/Bbs/lists/cid/111.html" class="study_style">农业类</a>
								<h4 class="study_h4"><a href="/index.php/Home/Bbs/detail/aid/750.html">aaaa</a></h4>
								<dl class="study_dl">
									<dt><a href="/index.php/Home/Homepage/index/sid/432.html"><img src="/Public/images/s_photo_1.jpg" alt="亡徒" height="50" class="star_user_photo"></a></dt>
									<dd>
										<p class="study_p1"><a href="/index.php/Home/Homepage/index/sid/432.html">亡徒</a> •  <a href="/index.php/Home/Bbs/lists/cid/111.html">农业类</a> •  24天前<span class="bbs_dot">·</span>最后回复<a href="/index.php/Home/Homepage/index/sid/378.html" class="lst_nem">Faker</a></p>
										<p class="date_sp">31天前 </p>
									</dd>
								</dl>
							</li>							<li>
								<a href="/index.php/Home/Bbs/lists/cid/199.html" class="study_style">国有企业</a>
								<h4 class="study_h4"><a href="/index.php/Home/Bbs/detail/aid/661.html">3000-5000</a></h4>
								<dl class="study_dl">
									<dt><a href="/index.php/Home/Homepage/index/sid/378.html"><img src="/Uploads/image/2019-02/20190227093951-98893.jpg" alt="Faker" height="50" class="star_user_photo"></a></dt>
									<dd>
										<p class="study_p1"><a href="/index.php/Home/Homepage/index/sid/378.html">Faker</a> •  <a href="/index.php/Home/Bbs/lists/cid/199.html">国有企业</a> •  82天前<span class="bbs_dot">·</span>最后回复<a href="/index.php/Home/Homepage/index/sid/378.html" class="lst_nem">Faker</a></p>
										<p class="date_sp">33天前 </p>
									</dd>
								</dl>
							</li>							<li class="last">
								<a href="/index.php/Home/Bbs/lists/cid/151.html" class="study_style">校园求职</a>
								<h4 class="study_h4"><a href="/index.php/Home/Bbs/detail/aid/739.html">ttttt</a></h4>
								<dl class="study_dl">
									<dt><a href="/index.php/Home/Homepage/index/sid/432.html"><img src="/Public/images/s_photo_1.jpg" alt="亡徒" height="50" class="star_user_photo"></a></dt>
									<dd>
										<p class="study_p1"><a href="/index.php/Home/Homepage/index/sid/432.html">亡徒</a> •  <a href="/index.php/Home/Bbs/lists/cid/151.html">校园求职</a> •  </p>
										<p class="date_sp">63天前 </p>
									</dd>
								</dl>
							</li>						</ul>
						
						<div class="study_right">
							<a href="/index.php/Home/Bbs/lists/cid/9.html" class="study_style">美妆天地</a>
							<ul class="study_video_ul">
								<li class="last">
									<div class="study_video_img"><a href="/index.php/Home/Bbs/detail/aid/546.html"><img src="/temp/20180506091450-60739.jpg" alt="古井" width="170" height="100"><span class="video_tiem">10：10</span></a></div>
									<p class="study_video_text"><a href="/index.php/Home/Bbs/detail/aid/546.html">古井</a></p>
								</li><li class="last">
									<div class="study_video_img"><a href="/index.php/Home/Bbs/detail/aid/486.html"><img src="/Public/images/study_img_1.jpg" alt="1111" width="170" height="100"><span class="video_tiem"></span></a></div>
									<p class="study_video_text"><a href="/index.php/Home/Bbs/detail/aid/486.html">1111</a></p>
								</li><li class="last">
									<div class="study_video_img"><a href="/index.php/Home/Bbs/detail/aid/394.html"><img src="/Uploads/image/2017-05/20170528110431-16116.jpg" alt="SWEET &amp; ELEGANT PROM MAKEUP" width="170" height="100"><span class="video_tiem">5分08秒</span></a></div>
									<p class="study_video_text"><a href="/index.php/Home/Bbs/detail/aid/394.html">SWEET &amp; ELEGANT</a></p>
								</li>							</ul>
						</div>
					</div>					
				</div></div><div class="owl-item" style="width: 1200px;"><div class="item">				
					<div class="study_part">
						<ul class="study_part_ul">
														<li>
								<a href="/index.php/Home/Bbs/lists/cid/219.html" class="study_style">fffff</a>
								<h4 class="study_h4"><a href="/index.php/Home/Bbs/detail/aid/738.html">zxzxzx</a></h4>
								<dl class="study_dl">
									<dt><a href="/index.php/Home/Homepage/index/sid/432.html"><img src="/Public/images/s_photo_1.jpg" alt="亡徒" height="50" class="star_user_photo"></a></dt>
									<dd>
										<p class="study_p1"><a href="/index.php/Home/Homepage/index/sid/432.html">亡徒</a> •  <a href="/index.php/Home/Bbs/lists/cid/219.html">fffff</a> •  </p>
										<p class="date_sp">63天前 </p>
									</dd>
								</dl>
							</li>							<li>
								<a href="/index.php/Home/Bbs/lists/cid/111.html" class="study_style">农业类</a>
								<h4 class="study_h4"><a href="/index.php/Home/Bbs/detail/aid/730.html">阿giao的小屋</a></h4>
								<dl class="study_dl">
									<dt><a href="/index.php/Home/Homepage/index/sid/445.html"><img src="/Public/images/s_photo_1.jpg" alt="贸然行事" height="50" class="star_user_photo"></a></dt>
									<dd>
										<p class="study_p1"><a href="/index.php/Home/Homepage/index/sid/445.html">贸然行事</a> •  <a href="/index.php/Home/Bbs/lists/cid/111.html">农业类</a> •  </p>
										<p class="date_sp">66天前 </p>
									</dd>
								</dl>
							</li>							<li class="last">
								<a href="/index.php/Home/Bbs/lists/cid/21.html" class="study_style">初级韩语</a>
								<h4 class="study_h4"><a href="/index.php/Home/Bbs/detail/aid/724.html">fdnndngnfn</a></h4>
								<dl class="study_dl">
									<dt><a href="/index.php/Home/Homepage/index/sid/439.html"><img src="/Public/images/s_photo_1.jpg" alt="山水" height="50" class="star_user_photo"></a></dt>
									<dd>
										<p class="study_p1"><a href="/index.php/Home/Homepage/index/sid/439.html">山水</a> •  <a href="/index.php/Home/Bbs/lists/cid/21.html">初级韩语</a> •  </p>
										<p class="date_sp">66天前 </p>
									</dd>
								</dl>
							</li></ul><ul class="study_part_ul">							<li>
								<a href="/index.php/Home/Bbs/lists/cid/8.html" class="study_style">语种学习</a>
								<h4 class="study_h4"><a href="/index.php/Home/Bbs/detail/aid/722.html">酒店有奇怪的东西</a></h4>
								<dl class="study_dl">
									<dt><a href="/index.php/Home/Homepage/index/sid/449.html"><img src="/Uploads/image/2019-01/20190118024410-13097.jpg" alt=" Honey" height="50" class="star_user_photo"></a></dt>
									<dd>
										<p class="study_p1"><a href="/index.php/Home/Homepage/index/sid/449.html"> Honey</a> •  <a href="/index.php/Home/Bbs/lists/cid/8.html">语种学习</a> •  </p>
										<p class="date_sp">66天前 </p>
									</dd>
								</dl>
							</li>							<li>
								<a href="/index.php/Home/Bbs/lists/cid/72.html" class="study_style">ID整形医院</a>
								<h4 class="study_h4"><a href="/index.php/Home/Bbs/detail/aid/700.html">绘画板</a></h4>
								<dl class="study_dl">
									<dt><a href="/index.php/Home/Homepage/index/sid/388.html"><img src="http://thirdqq.qlogo.cn/qqapp/101390132/537266AA3B3CCF3363470C10775D6F1B/100" alt="A丶S丶L丶X" height="50" class="star_user_photo"></a></dt>
									<dd>
										<p class="study_p1"><a href="/index.php/Home/Homepage/index/sid/388.html">A丶S丶L丶X</a> •  <a href="/index.php/Home/Bbs/lists/cid/72.html">ID整形医院</a> •  </p>
										<p class="date_sp">82天前 </p>
									</dd>
								</dl>
							</li>							<li class="last">
								<a href="/index.php/Home/Bbs/lists/cid/144.html" class="study_style">关于物流</a>
								<h4 class="study_h4"><a href="/index.php/Home/Bbs/detail/aid/699.html">777</a></h4>
								<dl class="study_dl">
									<dt><a href="/index.php/Home/Homepage/index/sid/410.html"><img src="http://thirdqq.qlogo.cn/qqapp/101390132/2C31F78D2A84DDA7B86A638C903EEF02/100" alt="茹泚倔强つ6988" height="50" class="star_user_photo"></a></dt>
									<dd>
										<p class="study_p1"><a href="/index.php/Home/Homepage/index/sid/410.html">茹泚倔强つ6988</a> •  <a href="/index.php/Home/Bbs/lists/cid/144.html">关于物流</a> •  </p>
										<p class="date_sp">82天前 </p>
									</dd>
								</dl>
							</li>						</ul>
						
						<div class="study_right">
							<a href="/index.php/Home/Bbs/lists/cid/9.html" class="study_style">美妆天地</a>
							<ul class="study_video_ul">
								<li class="last">
									<div class="study_video_img"><a href="/index.php/Home/Bbs/detail/aid/390.html"><img src="/Uploads/image/2017-05/20170527014658-18456.jpg" alt="宋慧喬化妝師示範大熱雙色唇妝！" width="170" height="100"><span class="video_tiem">02分22秒</span></a></div>
									<p class="study_video_text"><a href="/index.php/Home/Bbs/detail/aid/390.html">宋慧喬化妝師示範大熱雙色唇妝！</a></p>
								</li><li class="last">
									<div class="study_video_img"><a href="/index.php/Home/Bbs/detail/aid/389.html"><img src="/Uploads/image/2017-05/20170525063855-44967.jpg" alt="Korean Makeup flower" width="170" height="100"><span class="video_tiem">3分10秒</span></a></div>
									<p class="study_video_text"><a href="/index.php/Home/Bbs/detail/aid/389.html">Korean Makeup flower</a></p>
								</li><li class="last">
									<div class="study_video_img"><a href="/index.php/Home/Bbs/detail/aid/383.html"><img src="/Uploads/image/2017-05/20170524055853-94094.jpg" alt="Korean Makeup ｜Jessie L." width="170" height="100"><span class="video_tiem">06分36秒</span></a></div>
									<p class="study_video_text"><a href="/index.php/Home/Bbs/detail/aid/383.html">Korean Makeup ｜Jessie L.</a></p>
								</li>							</ul>
						</div>
					</div>					
				</div></div></div></div>
				<!--item end--><!--item-->
				
				<!--item end--><!--item-->
				
				<!--item end-->			<div class="owl-controls clickable"><div class="owl-pagination"><div class="owl-page active"><span class=""></span></div><div class="owl-page"><span class=""></span></div><div class="owl-page"><span class=""></span></div></div></div></div>
		</div>
		<div class="bt_btn_d"><a href="/index.php/Home/Bbs/index.html" class="btn_a_more btn_s2">查看更多<span class="sp_i_1"></span></a></div>
	</div>
</div>
	
	
	
		<div class="b_box">
			<!--ad-->
			<div class="ad_box2">
				<!-- <a href=""><img th:src="${homeBottomAdvertingList[0].aimgpath}" th:alt="${homeBottomAdvertingList[0].atitle}"  th:style="|width:${homeBottomAdvertingList[0].whObj.width}px; height:${homeBottomAdvertingList[0].whObj.height}px;|"></a> -->
				<a href=""><img src="/Public/images/ad/3.jpg" alt="底部广告 说吧"></a>
			</div>
			<!--ad end-->
			<a href="/view/sjrz" class="footer_text">
				<h2 class="index_h2_title c_0">
					加入我们<span class="c_1">•</span>招募韩国商家、华人
				</h2>
				<div class="bg_ic_1">招募韩国商家、海外留学生、华人兼司机、导游</div>
				<div class="bt_btn_d">
					<span class="btn_a_more bs_bt_a">商家入驻</span>
				</div>
			</a>
		</div>

		<!--footer-->
		<div class="footer community_footer_dl">
			<dl class="footer_dl">
				<dt>
					<div class="footer_ewm_box">
						<img src="/Public/images/footer_ewm.png" alt="">
					</div>
					<span class="ft_ewm_name">御品韩汀</span>
				</dt>
				<dd>
					<p class="flink">
						<a href="/index.php/Home/Member/seller.html">商家入驻</a>| <a
							href="/index.php/Home/About/help.html">帮助中心</a>| <a
							href="/index.php/Home/About/index/key/jobs.html">人才招聘</a>| <a
							href="/index.php/Home/About/contact.html">联系我们</a>| <a
							href="/index.php/Home/About/sitemap.html">网站地图</a>| <a
							href="/index.php/Home/About/terms.html">使用条款</a>
					</p>
					<p>湘ICP备16017200号-2 | 地址：湖南省株洲市天元区丽景滨江二栋2502号 |网站负责人：夏先生 |
						邮编：412000</p>
					<p>官方QQ：3119683838 | 微信公众号：御品韩汀 | 官网邮箱：3119683838@qq.com |
						官方热线电话：0731-2286-7673</p>
					<p>Copyright © 2017 - 2018 yphting.com 版权所有</p>
				</dd>
			</dl>
		</div>
		<!--footer end-->

		<!--right nav-->
		<ul class="right_nav">
			<li><a href="javascript:void(0);" class="rn_tel">客服电话</a>
				<div class="over_show kf_tel">0731-2286-7673</div></li>
			<li><a href="javascript:void(0);" class="rn_wx">官方微信</a>
				<div class="over_show">
					<img src="/Public/images/r_ewm.jpg" alt="" class="gw_ewm">
				</div></li>
			<li><a
				href="tencent://Message/?Uin=3119683838&amp;websiteName=http://yphting.zglxkj.com=&amp;Menu=yes"
				class="rn_kf">在线客服</a></li>
			<li><a href="#" class="rn_top">Back top</a></li>
		</ul>
		<!--right nav end-->

		<!--联系我们的浮层-->

		<div class="pop_contact">
				<a href="javascript:void(0);" class="close_pop_contact"></a>
				<div class="w1000">
				<div class="pcontact_left">
					<a href="/index.php/" class="logo">御品韩汀</a>
					<ul class="pcontact_ul">
						<li>
							<div class="wr_linka"><a href="http://yphting.zglxkj.com"></a>
							</div>公司官网：http://yphting.zglxkj.com
						</li>
						<li>
							<div class="wr_linka"><a href="http://weidian.com/?userid=765635894&amp;wfr=c"></a>
							</div>公司微店：http://weidian.com/?userid=765635894&amp;wfr=c
						</li>
					</ul>
					<ul class="pcontact_ul2">
						<li><span class="pcu pcu1"></span>联系方式：18773382506</li>
						<li><span class="pcu pcu2"></span>客服电话：0731-2286-7673</li>
						<li><span class="pcu pcu3"></span>住所：경기도 수원시 영통구 영통동 1021-4 청명타운텔 609호</li>
						<li class="last"><h3 class="contact_us_h3">CONTACT US</h3>联系我们</li>
					</ul>
				</div>
				<div class="pcontact_right">
					<h2 class="contact_us_title">和我们联系吧</h2>
					<form method="post" id="formtopcontact" action="/index.php/Home/About/contact.html" target="topost" onsubmit="return chktop()">
						<ul class="pcontact_ul3">
							<li><span class="pcspr pcspr1"></span><input id="name" name="name" class="pop_cus_input validate[required]" placeholder="姓名" type="text"></li>
							<li><span class="pcspr pcspr2"></span><input name="tel" id="tel" class="pop_cus_input validate[required,custom[phone]]" placeholder="电话" type="text"></li>
							<li><span class="pcspr pcspr3"></span><input name="email" id="email" class="pop_cus_input validate[required,custom[email]]" placeholder="邮箱" type="text"></li>
							<li><span class="pcspr pcspr4"></span><input name="content" id="content" class="pop_cus_input validate[required]" placeholder="具体需求" type="text"></li>
							<li class="sel_work">
								<div class="sel_work_box">
									<span class="input-group-addon">
										<span class="hz_icon_top">
											<input id="title1" name="title[]" value="我要兼职" class="chk_1" type="checkbox">
											<label for="title1"></label>
										</span>
									</span>
									<span class="sel_work_text">我要兼职</span>
								</div>
								<div class="sel_work_box">
									<span class="input-group-addon">
										<span class="hz_icon_top">
											<input id="title2" name="title[]" value="我要成为代理" class="chk_1" type="checkbox">
											<label for="title2"></label> 
										</span>
									</span>
									<span class="sel_work_text">我要成为代理</span>
								</div>
								<div class="sel_work_box">
									<span class="input-group-addon">
										<span class="hz_icon_top">
												<input id="title3" name="title[]" value="我要咨询整形" class="chk_1" type="checkbox">
												<label for="title3"></label> 
										</span>
									</span>
									<span class="sel_work_text">我要咨询整形</span>
								</div>
							</li>
							<input type="hidden" name="act" value="contact">
							<li>
								<a class="border_tj" href="javascript:void(0);" onclick="$('#formtopcontact').submit()" id="submit-btn">立即提交</a>
							</li>
						</ul>
						<input type="hidden" name="__hash__" value="dd364cd5cc7c0d91a0f4877b7d2acdca_88cf444067ad7ad0787870fc43c7f582">
					</form>
				</div>
				<div class="clear">
				</div>
			</div>
			</div>


		<!--联系我们的浮层 end-->
</body>
<script type="text/javascript" src="/Public/js/jquery-1.8.3.min.js"></script>
<!-- <script type="text/javascript" src="/Public/js/headLeftNav.js"></script> -->
<script src="/Public/js/showTool.js" type="text/javascript"
	charset="utf-8"></script>
	<script type="text/javascript" src="/Public/js/JsonpAjax.js"></script>
<script src="/Public/js/qikoo.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript" inline="javascript">
		jQuery(function(){
			
			
			
			
			//计算高度
			var head=$(".header").height();
			$(window).scroll(function(){
				var topScr=$(window).scrollTop();
				if (topScr>head) {
					$("#text").removeClass("blue");
					$("#text").addClass("writes");
					$("#tables").addClass("fixeds");
					$("#charts").removeClass("ones1");
					$("#charts").addClass("ones2");
				}else{
					
					$("#text").removeClass("writes");
					$("#text").addClass("blue");
				
					$("#tables").removeClass("fixeds");
					$("#charts").removeClass("ones2");
					$("#charts").addClass("ones1");
				}
			})
			
			
			
			
			
			
			var slideshowSize = [[${homeSlideshowList.size()}]];	//轮播图图片集合长度
			//初始化轮播图宽度
			jQuery("#index_banner .owl-wrapper").css("width",slideshowSize*jQuery("#index_banner .owl-wrapper .owl-item").css("width").replace("px","")*2);
			//保存轮播图切换位移3d值
			var transX = parseInt(jQuery("#index_banner .owl-wrapper").css("transform").replace(/[^0-9\-,]/g,'').split(',')[4]);
			//轮播图左右切换
			jQuery(".owl-prev,.owl-next").click(function(){
				var divWidth = parseInt(jQuery("#index_banner .owl-wrapper .owl-item").css("width").replace("px",""));
				var size = (jQuery("#index_banner .owl-wrapper .owl-item").length-1)*divWidth;
				if(jQuery(this).attr("class")=='owl-prev'){
					if(transX==0){
						transX = -size;
						jQuery("#index_banner .owl-wrapper").css("transition","all 1000ms ease 0s");
						jQuery("#index_banner .owl-wrapper").css("transform","translate3d("+transX+"px, 0px, 0px)");
						jQuery(".owl-pagination .owl-page").eq(0-transX/divWidth).attr("class","owl-page active").siblings().attr("class","owl-page");
						
					}else{
						transX+=divWidth;
						jQuery("#index_banner .owl-wrapper").css("transition","all 300ms ease 0s");
						jQuery("#index_banner .owl-wrapper").css("transform","translate3d("+transX+"px, 0px, 0px)");
						jQuery(".owl-pagination .owl-page").eq(0-transX/divWidth).attr("class","owl-page active").siblings().attr("class","owl-page");
					}
				}else{
					if(transX==-size){
						transX = 0;
						jQuery("#index_banner .owl-wrapper").css("transition","all 1000ms ease 0s");
						jQuery("#index_banner .owl-wrapper").css("transform","translate3d("+transX+"px, 0px, 0px)");
						jQuery(".owl-pagination .owl-page").eq(0-transX/divWidth).attr("class","owl-page active").siblings().attr("class","owl-page");
					}else{
						transX-=divWidth;
						jQuery("#index_banner .owl-wrapper").css("transition","all 300ms ease 0s");
						jQuery("#index_banner .owl-wrapper").css("transform","translate3d("+transX+"px, 0px, 0px)");
						jQuery(".owl-pagination .owl-page").eq(0-transX/divWidth).attr("class","owl-page active").siblings().attr("class","owl-page");
					}
				}
			});
			//轮播图圆点切换
			jQuery("#index_banner .owl-pagination .owl-page").live("click",function(){
				var index = jQuery(this).index();
				var divWidth = parseInt(jQuery("#index_banner .owl-wrapper .owl-item").css("width").replace("px",""));
				jQuery(this).attr("class","owl-page active").siblings().attr("class","owl-page");
				jQuery("#index_banner .owl-wrapper").css("transition","all 400ms ease 0s");
				jQuery("#index_banner .owl-wrapper").css("transform","translate3d("+(-index*divWidth)+"px, 0px, 0px)");
			});
			//星级服务商家推荐点击类别切换
			jQuery(".star_recommend_tab a").live("click",function(){
				var index = jQuery(this).index();
				jQuery(this).attr("class","cur").siblings().removeAttr("class");
				jQuery(".star_recommend_show").eq(index).show().siblings(".star_recommend_show").hide();
				jQuery(".star_recommend_show").eq(index).find("#star_recommend_part_0").css("opacity",1);
			});
			//星级服务商家和贴吧切换轮播
			jQuery(".star_recommend_show .owl-pagination .owl-page, #study_box .owl-pagination .owl-page").live("click",function(){
				var index = jQuery(this).index();
				jQuery(this).attr("class","owl-page active").siblings().attr("class","owl-page");
				jQuery(this).parent().parent().prev(".owl-wrapper-outer").find(".owl-wrapper").css("transform","translate3d("+(-index*1200)+"px, 0px, 0px)");
			});
			
			
			//右下角固定导航栏
			jQuery(".right_nav li a.rn_tel, a.rn_wx").hover(function(){
				jQuery(this).next().show(300);
			},function(){
				jQuery(this).next().hide();
			});
			//如果滚动条距离页面顶部大于等于500px显示回到顶部按钮
			jQuery(window).scroll(function() {
				if(jQuery(window).scrollTop() >= 500) {
					jQuery(".rn_top").fadeIn(300);
				} else {
					jQuery(".rn_top").fadeOut(300);
				}
			});
			//点击回到顶部
			jQuery(".rn_top").click(function() {
				$('body,html').animate({
					scrollTop: 0
				}, 500);
			});
		})
		
		$(".top_right").html("");
		$.getJSON("/c/tsy/user/queryAUser",function(data){
			if(data==null){
				$(".top_right").append($('<a href="/c/tsy/gologin">登录</a><span class="ht_line"></span><a href="/c/tsy/gozuce">注册</a>'));
			}else{
				$(".top_right").append($('<a href="/api/Forward_view/user/center">'+data.username+'</a> <span class="ht_line"></span><a href="javascript:void(0)" id="logout">退出</a><span class="ht_line"></span><a href="/xx-xtxx.html"><img src="/Public/images/e_i.png" alt=""></a>'));
			}
		})
		
		$(document).on("click", "#logout", function(){ 
			qikoo.dialog.confirm('确定要退出吗？',function(){
				$.ajax("/c/lz/user/loginout",{
					type:"GET",
					dataType:"text",
					success:function(result){
						
						
						if(result=="true"){
							
							window.location.href="/c/tsy/gologin";
							/* alert("退出成功..."); */
						}
						
						else{
							showTool("系统异常！")
						}
						
					}
				}); 		
	        },function(){
				// alert("取消啦！");
			});
			
			
			
		}); 


		//搜索
		$("#search").click(function(){
			var service=$('#text').val();
			if(service==""){
				service=null;
			}
			
			window.location.href="/api/Forward_view/searchFW?service="+service;
		})
		
	</script>
</html>