<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<title>搜索_韩汀社区</title>
		<link rel="icon" href="/Public/images/favicon.ico" type="image/x-icon" />
<link rel="stylesheet" href="/Public/css/common.css" />
<link rel="stylesheet" href="/Public/css/owl.carousel.css" />
<style type="text/css">
	#text{width:500px;height:30px;text-indent: 5px;
	border-radius:5px;
	}
	#search{width: 70px;height: 32px;background-color:royalblue;border: none;
	border-radius: 5px;color:#FFFFFF;cursor: pointer;margin: 0;
	}
	#search:hover{background-color: palevioletred;}
	#word1{
		position: absolute;
		z-index: 99;
		width: 500px;
		left: 107px; 
		height: auto;
		background-color: white;
		border: black solid 1px;
		display: none;
	}
	.click_work{
		padding-bottom: 8px;
		font-weight:lighter;
		font-size: 13px;
		cursor:pointer;/*鼠标放上变成小手*/
	}
	.click_work:hover{
		color: orange;
		background-color: gray;
	}
	.error{
		color: gray;
		cursor:pointer;/*鼠标放上变成小手*/
	}
	.ones1{color: red;letter-spacing: 3px;font-weight: bold;font-size: 20px;}
	.ones2{color: #FFFFFF;letter-spacing: 3px;font-weight: bold;font-size: 20px;}
	.fixeds{position: fixed;background-color: red;width: 100%;z-index: 999;top: 0}
	.writes{border: 2px white solid;}
	.blue{border: 2px blue solid;}
</style>
</head>

<body>
<!--header-->
	<div class="header" id="botop">
		<div class="h_top">
			<div class="b_box">
				<div class="top_nav">
					<a href="/c/hzj/homeUrl">首页</a><span class="ht_line"></span> <a
						href="">商家入驻</a><span class="ht_line"></span> <a href="">帮助中心</a><span
						class="ht_line"></span> <a href="">关于韩汀</a><span class="ht_line"></span>
					<a href="">联系我们</a>
				</div>
				<div class="top_right"></div>
			</div>
		</div>
		<div class="b_box nav_header community_header">
			<a href="/c/hzj/homeUrl" class="logo logo_community">御品韩汀.社区</a>
			<ul class="nav_ul">
				<li><a href="/c/ydk/serviceUrl?htmlUrl=fw-zjyTAB&stid=1"><span
						class="community_sp csp1"></span><br>自驾游</a></li>
				<li><a href="/c/ydk/serviceUrl?htmlUrl=fw-wzxTAB&stid=2"><span
						class="community_sp csp2"></span><br>微整形</a></li>
				<li><a href="/c/ydk/serviceUrl?htmlUrl=fw-lxzjTAB&stid=3"><span
						class="community_sp csp3"></span><br>留学中介</a></li>
				<li><a href="/c/ydk/serviceUrl?htmlUrl=fw-hyfyTAB&stid=4"><span
						class="community_sp csp4"></span><br>韩语翻译</a></li>
				<li><a href="/c/ydk/serviceUrl?htmlUrl=fw-xxzyTAB&stid=5"><span
						class="community_sp csp5"></span><br>学习资源</a></li>
				<li><a href=""><span class="community_sp csp6"></span><br>韩汀物流</a>
				</li>
				<li><a href="/c/zrb/column?pid=1&page=1&orderId=1&essence=0"><span
						class="community_sp csp7"></span><br>韩汀·论坛 中文</a></li>
			</ul>
		</div>
	</div>
	<!--header end-->

	<div id="tables">
		
	
	<table align="center" cellspacing="0" cellpadding="10" border="0" >
		<tr>
			<td style="position: relative;">
				<span class="ones1" id="charts">全站搜索</span>;
				<input id="text" type="text" placeholder="输入关键字" th:value="${servicenames=='null'?'':servicenames}">
				<input type="button" value="搜索" id="search">
				<div id="word1"></div>
			</td>
		</tr>
	</table>
	</div>
	
	<div class="bg_c2 pt1" id="vmservicelist">
		<div class="b_box">
			<ul class="rank_ul">
				<li class="cur" id="synthesizeOrderBy"><a
					href="javascript:void(0);">综合排序</a></li>
				<li id="pop"><a href="javascript:void(0);">人气<span
						class="rank_i"></span></a></li>
				<li id="price"><a href="javascript:void(0);">价格<span
						class="rank_i"></span></a></li>
			</ul>
			<div class="rank_box">
				<ul class="rank_list_ul">
					<li v-for="(temp,index) in pageInfo.listPager"><span
						style="display: none;" v-text="temp.stid" class="stid"></span> <a
						
						
						:href="'/api/Forward_view/detailsType?serviceID='+temp.serviceID+'&userID='+temp.userID+'&stid='+temp.stID"
						@click="insertAI(temp.stid)" class="rank_one_a">
							<div class="star_img">
								<img v-if="temp.recommendBool==true"
									style="z-index: 3; position: absolute;"
									src="/Public/images/tj.png" width="50" height="50"> <img
									:src="temp.serviceCoverImg" :alt="temp.serviceTitle"
									width="380" height="254">
							</div>
							<dl class="rank_text_dl">
								<dt v-text="temp.serviceTitle">测试资源主标题</dt>
								<dd>
									<div class="i_3" v-text="temp.servicePrice">100</div>
									<!-- <div class="star_pl">
										<span class="star_pl_sp"
											:style="'width:'+temp.merchantLevel*20+'%;'"></span>
									</div> -->
								</dd>
							</dl>
					</a> <a href="javascript:void(0);" class="rank_sec_a">
							<dl class="star_user_dl">
								<dt>
									<img :src="temp.shopImg" :alt="temp.shopName"
										class="star_user_photo"> <img
										src="/Public/images/hg_i.png" alt="" class="hg_i l_hi">
								</dt>
								<dd>
									<div class="star_user_name_s">
										<h3 class="star_user_name" v-text="temp.shopName">小明同学</h3>
									</div>
									<p class="star_user_text"></p>
								</dd>
							</dl>
					</a>
					</li>
				</ul>

				<!--page-->
				<div class="page_w">
					<div class="page">
						<div class="nav">
							<a v-if="pageInfo.prevPage!=0" class="page_prev prevdisabled"href="javascript:void(0);"@click="queryServices(pageInfo.prevPage)">上一页</a> 
							<span v-for="(temp,index) in pageInfo.totalPage"v-if="pageInfo.pageIndex==temp" class="cur" v-text="temp">1</span>
							<a v-else class="num" href="javascript:void(0);"@click="queryServices(temp)" v-text="temp">2</a> 
							<a v-if="pageInfo.nextPage!=0" class="page_next"href="javascript:void(0);"@click="queryServices(pageInfo.nextPage)">下一页</a>
						</div>
					</div>
				</div>
				<!--page end-->
			</div>
			<!--ad-->
			<div class="ad_box2">
				<a href="">
				<img th:src="${bottomadvo.advertisement.aimgpath}"></a>
			</div>
			<!--ad end-->
		</div>
	</div>

	<div class="b_box"></div>

	<!--footer-->
		<div class="footer community_footer_dl">
			<dl class="footer_dl">
				<dt>
					<div class="footer_ewm_box">
						<img src="/Public/images/footer_ewm.png" alt="">
					</div>
					<span class="ft_ewm_name">御品韩汀</span>
				</dt>
				<dd>
					<p class="flink">
						<a href="/index.php/Home/Member/seller.html">商家入驻</a>| <a
							href="/index.php/Home/About/help.html">帮助中心</a>| <a
							href="/index.php/Home/About/index/key/jobs.html">人才招聘</a>| <a
							href="/index.php/Home/About/contact.html">联系我们</a>| <a
							href="/index.php/Home/About/sitemap.html">网站地图</a>| <a
							href="/index.php/Home/About/terms.html">使用条款</a>
					</p>
					<p>湘ICP备16017200号-2 | 地址：湖南省株洲市天元区丽景滨江二栋2502号 |网站负责人：夏先生 |
						邮编：412000</p>
					<p>官方QQ：3119683838 | 微信公众号：御品韩汀 | 官网邮箱：3119683838@qq.com |
						官方热线电话：0731-2286-7673</p>
					<p>Copyright © 2017 - 2018 yphting.com 版权所有</p>
				</dd>
			</dl>
		</div>
		<!--footer end-->

		<!--right nav-->
		<ul class="right_nav">
			<li><a href="javascript:void(0);" class="rn_tel">客服电话</a>
				<div class="over_show kf_tel">0731-2286-7673</div></li>
			<li><a href="javascript:void(0);" class="rn_wx">官方微信</a>
				<div class="over_show">
					<img src="/Public/images/r_ewm.jpg" alt="" class="gw_ewm">
				</div></li>
			<li><a
				href="tencent://Message/?Uin=3119683838&amp;websiteName=http://yphting.zglxkj.com=&amp;Menu=yes"
				class="rn_kf">在线客服</a></li>
			<li><a href="#" class="rn_top">Back top</a></li>
		</ul>
		<!--right nav end-->
</body>
<script type="text/javascript" src="/Public/js/jquery-1.8.3.min.js"></script>
<!-- <script type="text/javascript" src="/Public/js/headLeftNav.js"></script> -->
<script src="/Public/js/showTool.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript" src="/Public/js/JsonpAjax.js"></script>
<script src="/Public/js/qikoo.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript" src="/Public/js/vue.js"></script>
<script th:inline="javascript">
jQuery(function(){
	//计算高度
	var head=$(".header").height();
	$(window).scroll(function(){
		var topScr=$(window).scrollTop();
		if (topScr>head) {
			$("#text").removeClass("blue");
			$("#text").addClass("writes");
			$("#tables").addClass("fixeds");
			$("#charts").removeClass("ones1");
			$("#charts").addClass("ones2");
		}else{
			$("#text").removeClass("writes");
			$("#text").addClass("blue");
			$("#tables").removeClass("fixeds");
			$("#charts").removeClass("ones2");
			$("#charts").addClass("ones1");
		}
	})
})

	

	var service = jQuery("#text").val();//关键字
	
	var vmservicelist = new Vue({
		el:"#vmservicelist",
		data:{
			pageInfo:{}
		},
		created:function(){
			this.queryServices(1);
			
		},
		methods:{
			//根据条件查询服务
			queryServices:function(num){
				var vmservicelist = this;
				var Pop_Pice = 0;
				//如果当前排序不是综合排序
				if(jQuery("#synthesizeOrderBy").parent().find(".cur").attr("id")=="pop"&&jQuery("#synthesizeOrderBy").parent().find(".cur a").attr("class")==null){
					Pop_Pice = 1;
				}else if(jQuery("#synthesizeOrderBy").parent().find(".cur").attr("id")=="pop"&&jQuery("#synthesizeOrderBy").parent().find(".cur a").attr("class")!=null){
					Pop_Pice = 2;
				}else if(jQuery("#synthesizeOrderBy").parent().find(".cur").attr("id")=="price"&&jQuery("#synthesizeOrderBy").parent().find(".cur a").attr("class")==null){
					Pop_Pice = 3;
				}else if(jQuery("#synthesizeOrderBy").parent().find(".cur").attr("id")=="price"&&jQuery("#synthesizeOrderBy").parent().find(".cur a").attr("class")!=null){
					Pop_Pice = 4;
				}
				jQuery.getJSON("/c/lz/likeServices",{"service":service,"pageIndex":num,"pageSize":6,"Pop_Pice":Pop_Pice},function(data){
					vmservicelist.pageInfo = data;
				})
			},
			
		}
	})
	
	//点击排序
	jQuery(".rank_ul li").click(function(){
		jQuery(this).attr("class","cur").siblings().removeAttr("class");
		if(jQuery(this).find("a").attr("class")!=null){
			jQuery(this).find("a").removeAttr("class");
		}else{
			jQuery(this).find("a").attr("class","rank_jx");
		}
		vmservicelist.queryServices(1);
	});
	//右下角固定导航栏
	jQuery(".right_nav li a.rn_tel, a.rn_wx").hover(function(){
		jQuery(this).next().show(300);
	},function(){
		jQuery(this).next().hide();
	})
	//如果滚动条距离页面顶部大于等于500px显示回到顶部按钮
	jQuery(window).scroll(function() {
		if(jQuery(window).scrollTop() >= 500) {
			jQuery(".rn_top").fadeIn(300);
		} else {
			jQuery(".rn_top").fadeOut(300);
		}
	})
	//点击回到顶部
	jQuery(".rn_top").click(function() {
		$('body,html').animate({
			scrollTop: 0
		}, 500);
	});
	
	
	
	
	//搜索
	jQuery("#search").click(function(){
		service = jQuery("#text").val();
		vmservicelist.queryServices(1);
	})
	
	</script>
</html>