<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">

	<head>
		<meta charset="utf-8" />
		<title>我的退款_韩汀社区</title>
		<link rel="icon" href="/Public/images/favicon.ico" type="image/x-icon" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="keywords" content="御品韩汀，韩汀社区，韩汀，湖南韩汀电子商务有限公司" />
		<meta name="description" content="湖南韩汀电子商务有限公司主要服务范围有海外自驾游，微整形，留学中介，翻译，学习资源，国际物流等项目，主要以大陆国人和海外同胞为服务对象。商家可入驻社区开店，用户可在平台内快速的找到自己需要的服务项目。海外商家对国内用户以及海外同胞开放服务，双方各持所需，互利互惠，是一款海外华人生活，兼职向导平台。 

韩汀宗旨:“崇尚以人为本、客户第一的服务宗旨。热诚为广大客户提供良好的售后服务和技术支持, 保障客户的投资得到良好的回报。”

企业口号：“韩汀—带给你看得到的未来,说不出的精彩!”。

企业理念：”诚信为本,惠于顾客,奉于社会”

企业目标：”建设海外一流社区平台，与广大合作伙伴与时俱进,互利互惠!”。" />
		<link rel="stylesheet" href="/Public/css/base.css" />

		<link rel="stylesheet" type="text/css" href="/Public/css/store.css" />
		<link rel="stylesheet" type="text/css" href="/Public/css/style.css" />
		<link rel="stylesheet" type="text/css" href="/Public/css/element.min.css" />
		<link rel="stylesheet" type="text/css" href="/Public/css/qikoo.css" />
		<link rel="stylesheet" type="text/css" href="/Public/css/bootstrap.min.css" />
		<link rel="stylesheet" href="/Public/css/commonstyle.css" />

		<style type="text/css">
			.t a {
				color: #000000;
			}
			
			.t a:hover {
				color: #b5118c;
			}
			
			.navbar-brand {
				float: left;
				height: auto;
			}
			
			.member_left_title {
				font-size: 26px;
				color: #8d4378;
				line-height: 30px;
				border-bottom: solid 1px #e6e6e6;
				padding-bottom: 20px;
				margin-bottom: 20px;
				letter-spacing: 4px;
			}
			
			.navbar-default .navbar-nav>.active>a,
			.navbar-default .navbar-nav>.active>a:focus,
			.navbar-default .navbar-nav>.active>a:hover {
				color: white;
				background-color: palevioletred;
				border-radius: 10%;
			}
			/*>=820的设备*/
			
			@media (min-width:820px) {
				.navbar-nav {
					float: left;
					font-size: 15px;
					margin: 50px;
				}
			}
			
			.navbar-nav {
				float: left;
				margin: 50px;
				/*font-size:15px;*/
			}
			/*<=423的设备*/
			
			@media (max-width:423px) {
				.head a {
					font-size: 10px;
				}
			}
			/*>=1260的设备*/
			
			@media (min-width:1260px) {
				.navbar-nav>li>a {
					margin: 0px 50px;
				}
				.navbar-nav {
					float: left;
					margin: 50px;
					font-size: 20px;
				}
			}
			
			.tklist li {
				padding: 10px;
				border-bottom: dashed 1px #e6e6e6;
			}
			
			.tklist  a{color: #cb22a1;padding: 5px;}
			.tklist  label,span{padding: 5px;}
			.tklist p{margin:0px;}
			
			.sjinfo li{margin-top: 5px;}
			.sjinfo li a{padding: 0px;color:#cb22a1 ;}
			
		</style>
	</head>

	<body>
		<!--head-->
		<div class="container-fluid" style="background-color: #FFFAE1;">

			<div class="row">

				<div class="col-md-8 col-sm-7 col-xs-12 col-md-offset-1 col-sm-offset-1">
					<ul class="list-inline head">
						<li>
							<a href="">首页</a>&nbsp;&nbsp;&nbsp;<span style="color: #C6C3B1;">|</span></li>
						<li>
							<a href="">商家入驻</a>&nbsp;&nbsp;&nbsp;<span style="color: #C6C3B1;">|</span></li>
						<li>
							<a href="">帮助中心</a>&nbsp;&nbsp;&nbsp;<span style="color: #C6C3B1;">|</span></li>
						<li>
							<a href="">关于韩汀</a>&nbsp;&nbsp;&nbsp;<span style="color: #C6C3B1;">|</span></li>
						<li>
							<a href="">联系我们</a>
						</li>
					</ul>
				</div>

				<div class="col-md-3 col-sm-4 col-xs-7 hidden-xs">
				<ul class="list-inline head">
	<li>
							<a href="/api/Forward_view/user/center" th:text="'@'+${session.userinfo.username}">巨蟹boy7730</a>&nbsp;&nbsp;&nbsp;<span style="color: #C6C3B1;">|</span></li>
						<li>
							<a href="javascript:void(0)" onclick="signout()">退出</a>&nbsp;&nbsp;&nbsp;<span style="color: #C6C3B1;">|</span></li>
						<li>
							<a href="/api/Forward_view/user/Stationinfo" style="position: relative;"><img src="/Public/images/e_i.png" /><span class="eif"></span></a>
						</li>

					</ul>
				</div>
			</div>

		</div>
		<!--head-->

		<!--导航栏-->
		<nav class="navbar navbar-default " style="background-color: white;border-top: none;">
			<div class="container-fluid">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header" style="margin-left:5%;">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false" style="margin-top: 50px;">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
					<a class="navbar-brand" href="#">
						<img alt="Brand" src="/Public/images/my_logo.png">
					</a>

				</div>

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse " id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav ">

						<li>
							<a href="">商家中心</a>
						</li>
						<li class="active">
							<a href="/api/Forward_view/user/center">个人中心</a>

						</li>
						<li >
						<a href="/api/Forward_view/user/Modifydata">账户设置</a>
							<span class="my_nav_i"></span>
						</li>
						<li>
							<a href="/api/Forward_view/user/Stationinfo">消息<span class="label label-danger" style="vertical-align: top;" th:text="${session.instationunread}"></span></a>
						</li>

					</ul>

				</div>
				<!-- /.navbar-collapse -->
			</div>
			<!-- /.container-fluid -->
		</nav>

		<!--内容-->
		<div class="container-fluid" id="listVMrefddetails">
			<div class="row">
				<div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">

					<div class="row">
						<div class="col-lg-12  t" style="padding: 10px;border-bottom: 1px #e6e6e6 solid;">
							<a href="/api/Forward_view/user/center">个人中心</a><span style="    margin: 0 10px;">-</span>
							<a href="/api/Forward_view/user/myrefund">我的退款</a>
							<span style="margin: 0 10px;">-</span>
							<span>退款编号 <label v-text="RefundVO.refundid"></label></span>
							<div class="pull-right hidden-xs">

								<a href="javascript:void(0)" style="color: #b5118c;">交易须知</a>

							</div>
						</div>

					</div>

					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding: 50px;border-bottom: 1px #e6e6e6 solid;">
						
								<el-steps :active="stepVal2" align-center>
									<el-step title="买家提交申请" description="服务单已申请成功，待商家处理中"></el-step>
									<el-step title="商家 处理退款申请" description="商家不同意退款"></el-step>
									<el-step title="完成" description="退款成功"></el-step>
								</el-steps>
							
						</div>
					</div>

					<div class="row">
						<div class="col-lg-10 col-md-11 col-sm-8 col-xs-12" style="border-right: solid 1px #e6e6e6">
							<ul class="list-unstyled tklist">
								<li>
									<p><strong style="color: #959595;" class="hidden-xs">协商记录</strong>

										<a href="javascript:void(0)" class="pull-right"  onclick="sendmessage()">站内信商家</a><span class="pull-right" style="color:#959595 ;">|</span>
										<a href="javascript:void(0)" class="pull-right" >申请管理员介入</a>
									</p>
									<p><label style="font-weight: 500;">状态：</label>
									<span v-if="RefundVO.order.refundstatus==1">退款申请中</span>
									<span v-else-if="RefundVO.order.refundstatus==2">不同意</span>
									<span v-else-if="RefundVO.order.refundstatus==3">申请管理员介入</span>
									<span v-else-if="RefundVO.order.refundstatus==4">管理员拒绝</span>
									<span v-else-if="RefundVO.order.refundstatus==5">退款完成</span>
									<span v-else-if="RefundVO.order.refundstatus==6">退款取消</span>
									</p>
								</li>

								<li>
									<p><label>商家</label><a href="" v-text="RefundVO.merchant.username">巨蟹boy7730</a><span v-text="RefundVO.audittime">2019-01-03 16:10</span></p>
									<p style="color: #959595;"><label>商家</label><span  v-text="RefundVO.merchant.username">（巨蟹boy7730）</span> <label  v-text="RefundVO.businessremarks">不同意退款部分金币</label></p>
									<p style="color: #959595;"><label>退款金币：</label><span v-text="RefundVO.actualrefundmoney"></span>金币</p>
									<p style="color: #959595;"><label>退款说明：</label><span v-text="RefundVO.refundexplain">不同意</span></p>
										<p><a :href="RefundVO.refundimg" target="_blank"><img :src="RefundVO.refundimg" width="150px"/></a></p>
								</li>
								<li>
									<p><label>买家</label><a href="" v-text="RefundVO.user.username">@Mr. Li</a><span v-text="RefundVO.merchant.username">2019-01-03 16:09</span></p>
									<p style="color: #959595;"><label>买家</label><span v-text="RefundVO.user.username">（@Mr. Li）</span> 于<label>2019-01-03 16:09</label>创建
									<p style="color: #959595;"><label>申请金额：</label><span>1</span>金币</p>
									<p style="color: #959595;"><label>退款原因：</label><span>不满意</span></p>
									<p style="color: #959595;"><label>退款说明：</label><span>请尽快退款</span></p>
									<p><a href="../Uploads/images/章若楠6.jpg" target="_blank"><img src="../Uploads/images/章若楠6.jpg" width="150px"/></a></p>
								</li>
							</ul>
						</div>
						
						<div class="col-lg-2 col-md-11 col-sm-8 hidden-xs" >
							<ul class="list-unstyled sjinfo">
								<li><img src="../Uploads/images/章若楠6.jpg" width="134px" height="89px"/></li>
								<li><a href="">荔枝</a></li>
								<li><a href="">你真的喜欢？</a></li>
								<li><img src="/Public/images/i_3.png"/><span>1.0</span></li>
								<li style="color: #959595;"><span>预定日期</span><span>2019-01-03 14:50</span></li>
								<li><span style="color: #959595;">人数</span><span>1</span></li>
								<li><span style="color: #959595;">总计</span><img src="/Public/images/i_3.png"/><span>1.0</span></li>
							</ul>
						</div>
					</div>

				</div>
			</div>
		</div>

		<!--底部-->
		<div class="container-fluid" style="margin-top: 100px;">
			<div class="row">

				<div class="footer">
					<div class="footerinner">
						<ul class="share">
							<li>
								<img class="weibo_icon" src="/Public/images/share1.png" alt="">
							</li>
							<li>
								<img class="qq_icon" src="/Public/images/share2.png" alt="">
							</li>
							<li>
								<img class="twitter_icon" src="/Public/images/share3.png" alt="">
							</li>
							<li>
								<img class="wechat_icon" src="/Public/images/share4.png" alt="">
							</li>
						</ul>
						<div class="code_wrap">
							<ul class="code">
								<li><img class="weibo" src="/Public/images/weibo1.png" alt=""></li>
								<li><img class="qq" src="/Public/images/qq1.png" alt=""></li>
								<li><img class="twitter" src="/Public/images/twitter1.png" alt=""></li>
								<li><img class="wechat" src="/Public/images/wechat1.png" alt=""></li>
							</ul>
						</div>
						<div class="footerinfo">
							<div class="footerinfoTop">

								<p>
									<ul class="list-inline">
										<li>
											<a href="">商家入驻</a>
										</li>
										<li>
											<a href="">帮助中心</a>
										</li>
										<li>
											<a href="">人才招聘</a>
										</li>
										<li>
											<a href="">联系我们</a>
										</li>
										<li>
											<a href="">网站地图</a>
										</li>
										<li>
											<a href="">使用条款</a>
										</li>
									</ul>
								</p>
								<p>湘ICP备16017200号-2 | 地址：湖南省株洲市天元区丽景滨江二栋2502号 |网站负责人：夏先生 | 邮编：412000</p>
								<p>官方QQ：3119683838 | 微信公众号：御品韩汀 | 官网邮箱：3119683838@qq.com | 官方热线电话：0731-2286-7673</p>
							</div>
							<div class="footerinfoBottom">
								<p class="min">Copyright &copy;2019 - 2020 yphting.com 版权所有</p>
							</div>
						</div>
					</div>
				</div>

			</div>

		</div>

		<div class="container-fluid ">
			<div class="row">
				<nav class="footerxs navbar navbar-default navbar-fixed-bottom visible-xs-block " style="padding: 10px;background-color:#101010;">

					<div class=" col-xs-4 text-center"><span class="  glyphicon glyphicon-thumbs-down"></span>
						<a href="">商家入驻</a>
					</div>
					<div class=" col-xs-4 text-center"><span class="  glyphicon glyphicon-question-sign"></span>
						<a href="">帮助中心</a>
					</div>
					<div class=" col-xs-4 text-center"><span class="  glyphicon glyphicon-envelope"></span>
						<a href="">联系我们</a>
					</div>

				</nav>
			</div>
		</div>

		<!--结束-->

		<!--右侧固定栏-->

		<div class="suspension" style="margin-top:50px;">
			<div class="suspension-box">
				<a href="#" class="a a-service "><i class="i"></i></a>
				<a href="javascript:;" class="a a-service-phone "><i class="i"></i></a>
				<a href="javascript:;" class="a a-qrcode"><i class="i"></i></a>
				<a href="javascript:;" class="a a-top"><i class="i"></i></a>
				<div class="d d-service">
					<i class="arrow"></i>
					<div class="inner-box">
						<div class="d-service-item clearfix">
							<a href="http://wpa.qq.com/msgrd?v=3&uin=1239071811&site=qq&menu=yes" target="_blank" class="clearfix"><span class="circle"><i class="i-qq"></i></span>
								<h3 style="margin:5px;">咨询在线客服</h3></a>
						</div>
					</div>
				</div>
				<div class="d d-service-phone">
					<i class="arrow"></i>
					<div class="inner-box">
						<div class="d-service-item clearfix">
							<span class="circle"><i class="i-tel"></i></span>
							<div class="text">
								<p>服务热线</p>
								<p class="red number">4001-021-758</p>
							</div>
						</div>

					</div>
				</div>
				<div class="d d-qrcode">
					<i class="arrow"></i>
					<div class="inner-box">
						<div class="qrcode-img"><img src="/Public/images/r_ewm.jpg" alt=""></div>
						<p>微信服务号</p>
					</div>
				</div>

			</div>
		</div>

		<!--站内联系-->
		<div class="modal fade" data-backdrop="static" data-keyboard="false">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title" style="letter-spacing:4px ;color: #959595;">与<span style="color: black;">荔枝</span>站内信</h4>
					</div>
					<div class="modal-body">

						<img src="../Uploads/images/章若楠6.jpg" width="60px" height="60px" style="border-radius: 50%;" />
						<textarea class="form-control" rows="3" style="width: 80%;display: inline-block;vertical-align: middle;"></textarea>

					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
						<button type="button" class="btn btn-primary" onclick="send()">发送</button>
					</div>
				</div>
			</div>
		</div>
		<div id="tooltip" style="display:none;position: fixed;left: 50%;top: 50%;transform: translate(-50%,-50%);font-size: 18px;background-color: rgba(0,0,0,0.5);color: white;padding: 5px 10px;z-index: 1000;white-space: nowrap"></div>
	</body>
	<script src="/Public/js/jquery-1.12.4.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript" src="/Public/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/Public/js/qikoo.js"></script>

	<script src="/Public/js/footer_suspend.js" type="text/javascript" charset="utf-8"></script>
		<script src="/Public/js/showTool.js" type="text/javascript" charset="utf-8"></script>
	<script src="/Public/js/vue.min.js"></script>
	<script src="/Public/js/element.min.js"></script>

	<script>
	
	
	
	
	
		var listVMrefddetails=new Vue({
			el: '#listVMrefddetails',
			data: {
				stepVal1: 1,
				stepVal2: 2,
				stepVal3: 3,
				RefundVO:{}
			},
			methods: {
				
				//初始化
				initializations:function(orderid){
					
					$.getJSON("/c/lz/dsd/user/queryMyrefundDetailed/"+orderid,function(json){
						listVMrefddetails.RefundVO=json[0];
				});
				}
				
			},
			created: function(){
				
				if (sessionStorage.getItem("orderid") != null) {
				      //自定义代码
				      this.initializations(sessionStorage.getItem("orderid"));
				}
				
				else{
					showTool("系统繁忙！");
					window.sessionStorage.removeItem("orderid");
				}
				
			}
			});

		//站内联系
		function sendmessage() {
			$(".modal").modal("show");
		}
		//发送
		function send() {
			if($("textarea").val() == "") {
				alert("请填写信件内容！")
			} else {
				$(".modal").modal("hide");
			}
		}
	</script>

</html>