<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">

	<head>
		<meta charset="utf-8" />
		<title>店铺信息_韩汀社区</title>
		<link rel="icon" href="/Public/images/favicon.ico" type="image/x-icon" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="keywords" content="御品韩汀，韩汀社区，韩汀，湖南韩汀电子商务有限公司" />
		<meta name="description" content="湖南韩汀电子商务有限公司主要服务范围有海外自驾游，微整形，留学中介，翻译，学习资源，国际物流等项目，主要以大陆国人和海外同胞为服务对象。商家可入驻社区开店，用户可在平台内快速的找到自己需要的服务项目。海外商家对国内用户以及海外同胞开放服务，双方各持所需，互利互惠，是一款海外华人生活，兼职向导平台。 

韩汀宗旨:“崇尚以人为本、客户第一的服务宗旨。热诚为广大客户提供良好的售后服务和技术支持, 保障客户的投资得到良好的回报。”

企业口号：“韩汀—带给你看得到的未来,说不出的精彩!”。

企业理念：”诚信为本,惠于顾客,奉于社会”

企业目标：”建设海外一流社区平台，与广大合作伙伴与时俱进,互利互惠!”。" />
		<link rel="stylesheet" href="/Public/css/base.css" />

		<link rel="stylesheet" type="text/css" href="/Public/css/store.css" />
		<link rel="stylesheet" type="text/css" href="/Public/css/style.css" />
		<link rel="stylesheet" type="text/css" href="/Public/css/base.css" />
		<link rel="stylesheet" type="text/css" href="/Public/css/qikoo.css" />
		<link rel="stylesheet" type="text/css" href="/Public/css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="/Public/css/cropper.min.css" />
		<link rel="stylesheet" type="text/css" href="/Public/css/ImgCropping.css" />
		<link rel="stylesheet" type="text/css" href="/Public/dist/summernote.css" />
		<link rel="stylesheet" href="/Public/css/commonstyle.css" />
		<style type="text/css">
			dt,
			dd {
				padding: 9px 0px;
			}
			
			.member_system_ul .msp2 {
				background-image: url(/Public/images/ac_i.png);
			}
			
			.member_system_ul li a:hover,
			.member_system_ul li.cur a {
				color: #91b001;
			}
			
			.pre_c3 {
				background-position: 0 -117px;
			}
			
			.pre_c4 {
				background-position: 0 -177px;
			}
			
			.member_system_ul li a:hover .pre_c3,
			.member_system_ul li.cur a .pre_c3 {
				background-position: -23px -117px;
			}
			
			.member_system_ul li a:hover .pre_c4,
			.member_system_ul li.cur a .pre_c4 {
				background-position: -22px -177px;
			}
			
			.navbar-brand {
				float: left;
				height: auto;
			}
			
			.member_left_title {
				font-size: 26px;
				color: #8d4378;
				line-height: 30px;
				border-bottom: solid 1px #e6e6e6;
				padding-bottom: 20px;
				margin-bottom: 20px;
				letter-spacing: 4px;
			}
			
			.navbar-default .navbar-nav>.active>a,
			.navbar-default .navbar-nav>.active>a:focus,
			.navbar-default .navbar-nav>.active>a:hover {
				color: white;
				background-color: palevioletred;
				border-radius: 10%;
			}
			/*>=820的设备*/
			
			@media (min-width:820px) {
				.navbar-nav {
					float: left;
					font-size: 15px;
					margin: 50px;
				}
			}
			
			.navbar-nav {
				float: left;
				margin: 50px;
				/*font-size:15px;*/
			}
			/*<=423的设备*/
			
			@media (max-width:423px) {
				.head a {
					font-size: 10px;
				}
			}
			/*>=1260的设备*/
			
			@media (min-width:1260px) {
				.navbar-nav>li>a {
					margin: 0px 50px;
				}
				.navbar-nav {
					float: left;
					margin: 50px;
					font-size: 20px;
				}
			}
			
			.list-unstyled {
				margin: 0;
				border-bottom: solid 1px #e6e6e6;
			}
			
			.list-unstyled li {
				padding: 8px
			}
			
			.list-unstyled li>a {
				color: #666464;
				line-height: 34px;
				font-size: 16px;
				letter-spacing: 2px
			}
			
			.list-unstyled li>a:hover {
				text-decoration: none;
				color: #91b001;
			}
		</style>
	</head>

	<body>
		<audio id="myaudio" src=""   autoplay="autoplay"  hidden="true" style="display:none" ></audio>
		<!--head-->
		<div class="container-fluid" style="background-color: #FFFAE1;">

			<div class="row">

				<div class="col-md-8 col-sm-7 col-xs-12 col-md-offset-1 col-sm-offset-1">
					<ul class="list-inline head">
						<li>
							<a href="/c/hzj/homeUrl">首页</a>&nbsp;&nbsp;&nbsp;<span style="color: #C6C3B1;">|</span></li>
						<li>
							<a th:href="@{/view/sjrz}">商家入驻</a>&nbsp;&nbsp;&nbsp;<span style="color: #C6C3B1;">|</span></li>
						<li>
							<a href="">帮助中心</a>&nbsp;&nbsp;&nbsp;<span style="color: #C6C3B1;">|</span></li>
						<li>
							<a href="">关于韩汀</a>&nbsp;&nbsp;&nbsp;<span style="color: #C6C3B1;">|</span></li>
						<li>
							<a href="">联系我们</a>
						</li>
					</ul>
				</div>

				<div class="col-md-3 col-sm-4 col-xs-7 hidden-xs">
					<ul class="list-inline head">
	<li>
							<a href="/api/Forward_view/user/center" th:text="'@'+${session.userinfo.username}">巨蟹boy7730</a>&nbsp;&nbsp;&nbsp;<span style="color: #C6C3B1;">|</span></li>
						<li>
							<a href="javascript:void(0)" onclick="signout()">退出</a>&nbsp;&nbsp;&nbsp;<span style="color: #C6C3B1;">|</span></li>
						<li>
							<a href="/api/Forward_view/user/Stationinfo" style="position: relative;"><img src="/Public/images/e_i.png" /><span class="eif" id="eif"></span></a>
						</li>

					</ul>
				</div>
			</div>

		</div>
		<!--head-->

		<!--导航栏-->
		<nav class="navbar navbar-default " style="background-color: white;border-top: none;">
			<div class="container-fluid">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header" style="margin-left:5%;">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false" style="margin-top: 50px;">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
					<a class="navbar-brand" href="#">
						<img alt="Brand" src="/Public/images/my_logo.png">
					</a>

				</div>

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse " id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav ">

						<li>
							<a href="/c/smy/user/getUserBySjzx">商家中心</a>
						</li>
						<li>
							<a href="/api/Forward_view/user/center">个人中心</a>

						</li>
						<li class="active">
							<a href="/api/Forward_view/user/Modifydata">账户设置</a>
							<span class="my_nav_i"></span>
						</li>
						<li>
							<a href="/api/Forward_view/user/Stationinfo">消息<span class="label label-danger" style="vertical-align: top;" id="count"></span></a>
						</li>

					</ul>

				</div>
				<!-- /.navbar-collapse -->
			</div>
			<!-- /.container-fluid -->
		</nav>

		<!--左边菜单 -->
		<div class="container-fluid">

			<div class="rwo">
				<div class="col-lg-2 col-md-3 col-sm-3  col-xs-12  " style="border-right:  1px #e6e6e6 solid;overflow: hidden;min-height:2700px;">

					<div class="row">
						<div class="col-lg-9 col-lg-offset-3 col-md-10 col-md-offset-2  col-sm-11  col-sm-offset-1 col-xs-12">
							<h1 class="member_left_title">账户设置</h1>

							<ul class="list-unstyled member_system_ul">
								<li >
									<a href="/api/Forward_view/user/Modifydata"><span class="msp2 pre_c1"></span>个人资料</a>
								</li>
								<li >
									<a href="/api/Forward_view/user/updatePwd"><span class="msp2 pre_c2"></span>修改密码</a>
								</li>
								<li >
									<a href="/api/Forward_view/user/Accountmanage"><span class="msp2 pre_c4"></span>帐号管理</a>
								</li>
								<li th:if="${session.userinfo.merchanttype ne 0 and  session.userinfo.auditstatus==2  and session.userinfo.businessstate==1}">
									<a href="/api/Forward_view/user/Shop"><span class="msp2 pre_c3"></span>店铺信息</a>
								</li>
							</ul>
						</div>
					</div>
				</div>

				<!--右侧内容区-->
				<div class="col-lg-10 col-md-9 col-sm-9  hidden-xs">

					<div class="row">
						<div class="col-lg-10" style="border-bottom: solid 1px #e6e6e6;padding: 10px;margin-left: 1%;">
							<h2 style="letter-spacing: 2px;font-size: 20px;">店铺信息</h2>
						</div>
						<div class="col-lg-10" style="padding: 10px;margin-left: 1%;">
							<form action="" method="post" class="form-horizontal">

								<dl class="dl-horizontal">
									<dt style="text-align: left;">店铺状态</dt>
									<dd>
									
									<div th:switch="${session.userinfo.businessstate}">
									<span th:case="1">正常营业</span>
									<span th:case="2">暂停营业</span>
									<span th:case="3">关闭营业</span>
									</div>
									</dd>
									<dt style="text-align: left;">商家类别</dt>
									<dd>
									<div th:switch="${session.userinfo.merchanttype}">
									<span th:case="1">大陆商家用户</span>
									<span th:case="2">海外商家用户</span>
									</div>
									</dd>
									<dt style="text-align: left;">服务类别</dt>
									<dd><span th:text="${FirstName}"></span>&nbsp;&nbsp;<span th:text="${secondName}">留学中介</span></dd>
									
									
									<div th:if="${session.userinfo.hospitalname ne '' and session.userinfo.hospitalname ne null}">
									<dt style="text-align: left;">医院名称</dt>
									<dd th:text="${session.userinfo.hospitalname}"></dd>
									</div>
									
				
									
									<dt style="text-align: left;" >店铺名称</dt>
									<dd th:text="${session.userinfo.shopname}"></dd>
									<dt style="text-align: left;">真实姓名</dt>
									<dd>
										<div class="form-group">

											<input type="text" class="form-control" id="name" placeholder="真实姓名" style="width: 25%;margin-left: 10px;" th:value="${session.userinfo.userrealname}" name="userrealname">
										</div>
									</dd>
									<dt style="text-align: left;">签名</dt>
									<dd>
										<div class="form-group">

											<input type="text" class="form-control " id="qianming" th:value="${session.userinfo.signature}" style="width: 50%;margin-left: 10px;" name="signature">
										</div>
									</dd>
									<dt style="text-align: left;">店铺保证金</dt>
									<dd><span th:text="${session.userinfo.guaranteemoney}">0</span>&nbsp;金币
										<a href="javascript:void(0)" style="color:#CB22A1;" onclick='deposit()'>退保证金</a>
									</dd>
<dt th:if="${session.userinfo.identitytype}==null" style="text-align: left;">海外证件号码</dt>
<dt th:if="${session.userinfo.identitytype}!=null" style="text-align: left;">身份证／护照号码</dt>
									<dd>
										<div class="row">
										<div class="col-lg-3 col-md-3 col-sm-3" style="margin-left: 10px;">
												<div class="form-group">

										<span th:if="${session.userinfo.identitytype}==1">
									<select name="identitytype" class="form-control" id="idtype">
										<option value="1" selected="selected">身份证号码</option>
										<option value="2">护照号码</option>
									</select>
								</span>
								
								<span th:if="${session.userinfo.identitytype}==2">
									<select name="identitytype" class="form-control" id="idtype">
										<option value="1" >身份证号码</option>
										<option value="2" selected="selected">护照号码</option>
									</select>
								</span>
												</div>
											</div>
											
											<div class="col-lg-3 col-md-3 col-sm-3" style="margin-left: 10px;">
											<div class="form-group">
											
											<input name="identitynumder" type="text" th:value="${session.userinfo.identitynumder}" id="idcard" class="form-control">
											</div>
											</div>
										</div>
									</dd>

									
									<div th:if="${session.userinfo.merchanttype==2}">
									<dt style="text-align: left; " >登入证姓名
</dt>
									<dd>
										<div class="form-group">

											<input type="text" class="form-control " id="logincardname" th:value="${session.userinfo.identityrealname}" style="width: 50%;margin-left: 10px;" name="identityrealname" >
										</div>
									</dd>
									</div>

									<dt style="text-align: left;">身份住址
</dt>
									<dd>
										<div class="row">
											<div class="col-lg-3 col-md-3 col-sm-3" style="margin-left: 10px;">
												<div class="form-group">

													 <select class="form-control" name="country">
  <option th:if="${session.userinfo.country}==null" value='0'>请选择</option>
</select>

												</div>
											</div>
											<div class="col-lg-3 col-md-3 col-sm-3" style="margin-left: 10px;">
												<div class="form-group">
 <select class="form-control" name="provincialid">;
 <option th:if="${session.userinfo.provincialid}==null" value='0'>请选择</option>
</select>
													
												</div>
											</div>
											<div class="col-lg-3 col-md-3 col-sm-3" style="margin-left: 10px;">
												<div class="form-group">

													
<select class="form-control" name="cityid">
<option th:if="${session.userinfo.cityid}==null" value='0'>请选择</option>
</select>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-lg-10 col-md-10 col-sm-10">
												<div class="form-group">

													<input type="text" class="form-control " id="address" th:value="${session.userinfo.addetail}" placeholder="详细街道" style="margin-left: 10px;">
												</div>
											</div>
										</div>
									</dd>

									<dt style="text-align: left;">商家店铺图片
</dt>
									<dd>
										<p style="color: #959595;">

											此图片会出现在商家主页商家介绍以及商家推荐展示图，图片尺寸请保持750px*500px， 格式要求：支持.jpg .jpeg .bmp .gif .png格式照片，大小不超过2m。
										</p>

										<div id="drop_area" style="margin-top: 10px;"></div>
									</dd>

									<dt style="text-align: left;">身份证件
<br/>（正面）

</dt>
									<dd>
										<p style="color: #959595;">

											请提交外国登入证。 格式要求：支持.jpg .jpeg .bmp .gif .png格式照片，大小不超过5m。
										</p>

										<div id="drop_area_1" style="margin-top: 10px;"></div>
									</dd>

									<dt style="text-align: left;">身份证件
<br/>（反面）

</dt>
									<dd>
										<p style="color: #959595;">

											请提交外国登入证。 格式要求：支持.jpg .jpeg .bmp .gif .png格式照片，大小不超过5m。
										</p>

										<div id="drop_area_2" style="margin-top: 10px;"></div>
									</dd>

									<dt style="text-align: left;">手持身份证件照片<br/>（正面）</dt>
									<dd>
										<p style="color: #959595;">

											请提交手持外国登入证照片。 格式要求：支持.jpg .jpeg .bmp .gif .png格式照片，大小不超过5m。
										</p>

										<div id="drop_area_3" style="margin-top: 10px;"></div>
									</dd>

									<dt style="text-align: left;">服务语言</dt>
									<dd>
										<div class="row">
											<div class="col-lg-2 col-md-2 col-sm-2" th:each="temp,iterStat: ${language}">
												<div class="checkbox">
													<label>
    											<input type="checkbox" th:value="${temp.languagename}" name="languagenametext">[[${temp.languagename}]]	
  												</label>
												</div>
											</div>

											
										</div>

									</dd>

									<dt style="text-align: left;">擅长专业</dt>
									<dd>
										<div class="row">
											<div class="col-lg-2 col-md-2 col-sm-2" th:each="temp,i:${major}">
												<div class="checkbox">
													<label>
    											<input type="checkbox" th:value="${temp.majorname}" name="major">
													[[${temp.majorname}]]
  												</label>
												</div>
											</div>

											

											

											

											
											

										</div>

									</dd>

									<dt style="text-align: left;">所在城市

</dt>
									<dd>
										<div class="col-lg-3 col-md-3 col-sm-3">
											<div class="form-group">

												<select class="form-control" name="livecityid">
													<option th:each="temp,i:${Koreacity}" th:value="${temp.areaid}" th:text="${temp.mergername}" th:selected="${temp.areaid==session.userinfo.livecityid}"></option>
												</select>

											</div>
										</div>
									</dd>

									<dt style="text-align: left;">邮箱地址</dt>
									<dd>
										<div class="form-group">

											<input type="email" class="form-control " id="eamil" th:value="${session.userinfo.merchantemail}" style="width:40%;margin-left: 15px;" name="merchantemail">
										</div>
									</dd>

									<dt style="text-align: left;">联系电话
</dt>
									<dd>
										<div class="form-group">

											<input type="text" class="form-control" id="phone" placeholder="" style="width: 25%;margin-left: 15px;" th:value="${session.userinfo.merchantphone}" name="merchantphone">
										</div>
									</dd>

									<dt style="text-align: left;">QQ

</dt>
									<dd>
										<div class="form-group">

											<input type="text" class="form-control" id="QQ
" placeholder="" style="width: 25%;margin-left: 15px;" th:value="${session.userinfo.qq}" name="qq">
										</div>
									</dd>

									<dt style="text-align: left;">微信


</dt>
									<dd>
										<div class="form-group">

											<input type="text" class="form-control" id="weixin
" placeholder="" style="width: 25%;margin-left: 15px;" th:value="${session.userinfo.wechat}" name="wechat">
										</div>
									</dd>

									<dt style="text-align: left;">职业



</dt>
									<dd>
										<div class="form-group">

											<input type="text" class="form-control" id="zhiwei
" placeholder="" style="width: 25%;margin-left: 15px;" th:value="${session.userinfo.profession}" name="profession">
										</div>
									</dd>

									<dt style="text-align: left;">身高

</dt>
									<dd>
										<div class="form-group" style="position: relative;">

											<input type="text" class="form-control" id="shengao
" placeholder="" style="width: 25%;margin-left: 15px;" th:value="${session.userinfo.height}" name="height"><span style="position: absolute;left:23%;top:8px;color: #959595;">CM</span>
										</div>
									</dd>

									<dt style="text-align: left;">星座


</dt>
									<dd>

										<div class="col-lg-3 col-md-3 col-sm-3">
											<div class="form-group">

												<select class="form-control" name="constellation">
									<option value="白羊座">白羊座</option>
									<option value="金牛座">金牛座</option>
									<option value="双子座">双子座</option>
									<option value="巨蟹座">巨蟹座</option>
									<option value="狮子座">狮子座</option>
									<option value="处女座">处女座</option>
									<option value="天秤座">天秤座</option>
									<option value="天蝎座">天蝎座</option>
									<option value="射手座">射手座</option>
									<option value="摩羯座">摩羯座</option>
									<option value="水瓶座">水瓶座</option>
									<option value="双鱼座">双鱼座</option>
												</select>

											</div>
										</div>

									</dd>

									<dt style="text-align: left;">年龄



</dt>
									<dd>
										<div class="form-group">

											<input type="text" class="form-control" id="age
" placeholder="" style="width: 25%;margin-left: 15px;" th:value="${session.userinfo.age}" name="age">
										</div>
									</dd>

									<!-- <dt style="text-align: left;">信息查看金额




</dt>
									<dd>

										<div class="col-lg-3 col-md-3 col-sm-3">
											<div class="form-group">

												<input type="text" id="moeny" value="0" class="form-control" />

											</div>
										</div>
										<div class="col-lg-3 col-md-3 col-sm-3" style="margin-left: 10px;">
											<div class="form-group">

												<select class="form-control">
													<option>金币支付</option>
													<option>积分支付</option>
												</select>

											</div>
										</div>
									</dd> -->

									<dt style="text-align: left;">自我介绍




</dt>
									<dd style="border-bottom: 1px #E6E6E6 solid;">
										<div class="row">
											<div class="col-lg-7 col-md-7 col-sm-8">
												<div class="summernote" th:text="${session.userinfo.selfintroduction}" id="selfintroduction"></div>
											</div>
										</div>
									</dd>

								</dl>
								<!--更新 -->
								<div class="col-lg-1 col-lg-offset-2" style="padding: 10px">
									<div class="form-group">
										<input type="button" id="update" name=""  class="btn-danger btn form-control" value="更新"/>
									</div>
								</div>
							</form>
						</div>

					</div>
				</div>

			</div>
		</div>
		</div>
		<!--end-->

		<!--底部-->
		<div class="container-fluid">
			<div class="row" style="margin-top: 55px;">

				<div class="footer">
					<div class="footerinner">
						<ul class="share">
							<li>
								<img class="weibo_icon" src="/Public/images/share1.png" alt="">
							</li>
							<li>
								<img class="qq_icon" src="/Public/images/share2.png" alt="">
							</li>
							<li>
								<img class="twitter_icon" src="/Public/images/share3.png" alt="">
							</li>
							<li>
								<img class="wechat_icon" src="/Public/images/share4.png" alt="">
							</li>
						</ul>
						<div class="code_wrap">
							<ul class="code">
								<li><img class="weibo" src="/Public/images/weibo1.png" alt=""></li>
								<li><img class="qq" src="/Public/images/qq1.png" alt=""></li>
								<li><img class="twitter" src="/Public/images/twitter1.png" alt=""></li>
								<li><img class="wechat" src="/Public/images/wechat1.png" alt=""></li>
							</ul>
						</div>
						<div class="footerinfo">
							<div class="footerinfoTop">

								<p>
									<ul class="list-inline">
										<li>
											<a th:href="@{/view/sjrz}">商家入驻</a>
										</li>
										<li>
											<a href="">帮助中心</a>
										</li>
										<li>
											<a href="">人才招聘</a>
										</li>
										<li>
											<a href="">联系我们</a>
										</li>
										<li>
											<a href="">网站地图</a>
										</li>
										<li>
											<a href="">使用条款</a>
										</li>
									</ul>
								</p>
								<p>湘ICP备16017200号-2 | 地址：湖南省株洲市天元区丽景滨江二栋2502号 |网站负责人：夏先生 | 邮编：412000</p>
								<p>官方QQ：3119683838 | 微信公众号：御品韩汀 | 官网邮箱：3119683838@qq.com | 官方热线电话：0731-2286-7673</p>
							</div>
							<div class="footerinfoBottom">
								<p class="min">Copyright &copy;2019 - 2020 yphting.com 版权所有</p>
							</div>
						</div>
					</div>
				</div>

			</div>

		</div>

		<div class="container-fluid ">
			<div class="row">
				<nav class="footerxs navbar navbar-default navbar-fixed-bottom visible-xs-block " style="padding: 10px;background-color:#101010;">

					<div class=" col-xs-4 text-center"><span class="  glyphicon glyphicon-thumbs-down"></span>
						<a th:href="@{/view/sjrz}">商家入驻</a>
					</div>
					<div class=" col-xs-4 text-center"><span class="  glyphicon glyphicon-question-sign"></span>
						<a href="">帮助中心</a>
					</div>
					<div class=" col-xs-4 text-center"><span class="  glyphicon glyphicon-envelope"></span>
						<a href="">联系我们</a>
					</div>

				</nav>
			</div>
		</div>

		<!--结束-->

		<!--右侧固定栏-->

		<div class="suspension" style="margin-top:50px;">
			<div class="suspension-box">
				<a href="#" class="a a-service "><i class="i"></i></a>
				<a href="javascript:;" class="a a-service-phone "><i class="i"></i></a>
				<a href="javascript:;" class="a a-qrcode"><i class="i"></i></a>
				<a href="javascript:;" class="a a-top"><i class="i"></i></a>
				<div class="d d-service">
					<i class="arrow"></i>
					<div class="inner-box">
						<div class="d-service-item clearfix">
							<a href="http://wpa.qq.com/msgrd?v=3&uin=1239071811&site=qq&menu=yes" target="_blank" class="clearfix"><span class="circle"><i class="i-qq"></i></span>
								<h3 style="margin:5px;">咨询在线客服</h3></a>
						</div>
					</div>
				</div>
				<div class="d d-service-phone">
					<i class="arrow"></i>
					<div class="inner-box">
						<div class="d-service-item clearfix">
							<span class="circle"><i class="i-tel"></i></span>
							<div class="text">
								<p>服务热线</p>
								<p class="red number">4001-021-758</p>
							</div>
						</div>

					</div>
				</div>
				<div class="d d-qrcode">
					<i class="arrow"></i>
					<div class="inner-box">
						<div class="qrcode-img"><img src="/Public/images/r_ewm.jpg" alt=""></div>
						<p>微信服务号</p>
					</div>
				</div>

			</div>
		</div>

<!--提示框-->

    <div id="tooltip" style="display:none;position: fixed;left: 50%;top: 50%;transform: translate(-50%,-50%);font-size: 18px;background-color: rgba(0,0,0,0.5);color: white;padding: 5px 10px;z-index: 1000;white-space: nowrap"></div>
	</body>
	<script src="/Public/js/jquery-1.12.4.js" type="text/javascript" charset="utf-8"></script>
	<script src="/Public/js/jquery.messager.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript" src="/Public/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/Public/js/qikoo.js"></script>
	<script src="/Public/js/upload.js" type="text/javascript" charset="utf-8"></script>
	<script src="/Public/js/footer_suspend.js" type="text/javascript" charset="utf-8"></script>
<script src="/Public/js/showTool.js" type="text/javascript" charset="utf-8"></script>
	<script src="/Public/dist/summernote.js" type="text/javascript" charset="utf-8"></script>
	<script src="/Public/dist/lang/summernote-zh-CN.js" type="text/javascript" charset="utf-8"></script>
			<script src="/Public/js/getunread.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript">
	
	//读取未读信息
	unreadinfo();
	
	//语言
	var yy="[[${session.userinfo.languagenametext}]]";
	var arr=yy.split(" ");
	$("input[name=languagenametext]").each(function(index,obj){
		
		$.each(arr,function(i,o){
			if($(obj).val()==o){
				$(obj).prop("checked",true);
			}
		});
		
	});
	
	
	
	//专业
	var zy="[[${session.userinfo.majornametext}]]";
	var arr1=zy.split(" ");
	$("input[name=major]").each(function(index,obj){
		
		$.each(arr1,function(i,o){
			if($(obj).val()==o){
				$(obj).prop("checked",true);
			}
		});
		
	});
	
	
	$("select[name=constellation] option").each(function(){
		if($(this).val()=="[[${session.userinfo.constellation}]]"){
			$(this).attr("selected",true);
		}
	})
		//文本编辑插件
		$(function() {
			$('.summernote').summernote({
				height: 200,
				tabsize: 2,
				lang: 'zh-CN'
			});
		});

	
	var User={
		"userrealname":"",
		"signature":"",
		"identitytype":0,
		"country":0,
		"provincialid":0,
		"cityid":0,
		"addetail":"",
		"shopimg":"",
		"identitypositiveimg":"",
		"identitynegativeimg":"",
		"identityhandimg":"",
		"languagenametext":"",
		"majornametext":"",
		"livecityid":0,
		"merchantemail":"",
		"merchantphone":"",
		"qq":"",
		"wechat":"",
		"profession":"",
		"height":0,
		"constellation":"",
		"age":0,
		"selfintroduction":"",
		"identityrealname":""
	};
		
		//商家店铺图片
		var dragImgUpload = new DragImgUpload("#drop_area", {
			callback: function(files) {
				var fr = new FileReader();//读取文件
				var file = files[0];
				fr.readAsDataURL(file);//读取文件
				
				fr.onload = function() {
								var base64Data = this.result;//获得base编码字符串格式
								User["shopimg"]=base64Data;
								
								
							};
				
			}
		})
		$(".preview:eq(0) img").attr("src", "[[${session.userinfo.shopimg}]]")

		//身份证件证件 （正面）
		var dragImgUpload = new DragImgUpload("#drop_area_1", {
			callback: function(files) {
				var fr = new FileReader();//读取文件
				var file = files[0];
				fr.readAsDataURL(file);//读取文件
				
				fr.onload = function() {
								var base64Data = this.result;//获得base编码字符串格式
								User["identitypositiveimg"]=base64Data;
								
								
							};
			}
		})
		$(".preview:eq(1) img").attr("src", "[[${session.userinfo.identitypositiveimg}]]")

		//身份证件证件（反面）

		var dragImgUpload = new DragImgUpload("#drop_area_2", {
			callback: function(files) {
				var fr = new FileReader();//读取文件
				var file = files[0];
				fr.readAsDataURL(file);//读取文件
				
				fr.onload = function() {
								var base64Data = this.result;//获得base编码字符串格式
								User["identitynegativeimg"]=base64Data;
								
								
							};
			}
		})
		$(".preview:eq(2) img").attr("src", "[[${session.userinfo.identitynegativeimg}]]")

		//手持身份证件证照片（正面）

		var dragImgUpload = new DragImgUpload("#drop_area_3", {
			callback: function(files) {
				var fr = new FileReader();//读取文件
				var file = files[0];
				fr.readAsDataURL(file);//读取文件
				
				fr.onload = function() {
								var base64Data = this.result;//获得base编码字符串格式
								User["identityhandimg"]=base64Data;
								
								
							};
			}
		})
		$(".preview:eq(3) img").attr("src", "[[${session.userinfo.identityhandimg}]]")
		
		
		
		
		
		
		
		var provincialID="[[${session.userinfo.provincialid}]]";
	var cityID="[[${session.userinfo.cityid}]]";
	var country="[[${session.userinfo.country}]]";
    //国家
    function countrys(){
    
			$.getJSON("/c/lz/user/querySharea",function(data){
				$.each(data,function(i,obj){
					if(obj.pid==0 && obj.level==0 ){
						
						var option=$("<option value='"+obj.areaid+"'>"+obj.mergername+"</option>");
						$("[name=country]").append(option);
						
					}
					
				})
				
				//默认选中
				$("[name=country] option").each(function(){
					if($(this).val()==country){
						$(this).attr("selected","selected");
					}
				})
				
				//获取国家
				province($("[name=country]").children("option:selected").val());
				
				
			})
		}
    
  //省
	function province(areaid){
		if(provincialID!=null && $("[name=country] option:selected").text()!="请选择"){
		$.getJSON("/c/lz/user/querySharea",function(data){
			
		
				$.each(data,function(i,obj){
					
					if(obj.pid==areaid){
						
						var option=$("<option value='"+obj.areaid+"'>"+obj.mergername+"</option>");
						$("[name=provincialid]").append(option);
						
					}
				});
				
				
					
				
				//默认选中
				$("[name=provincialid] option").each(function(){
					if($(this).val()==provincialID){
						$(this).attr("selected","selected");
					}
				})
				
				//获取省份
				city($("[name=provincialid]").children("option:selected").val());
				
				
			
		})
		}
	}
  
  
	//市区
	function city(areaid){
		if(cityID!=null && $("[name=country] option:selected").text()!="请选择"){
		$.getJSON("/c/lz/user/querySharea",function(data){
			
				$.each(data,function(i,obj){
					
					if(obj.pid==areaid){
						
						var option=$("<option value='"+obj.areaid+"'>"+obj.mergername+"</option>");
						$("[name=cityid]").append(option);
						
					}
				});
				
				//默认选中
				$("[name=cityid] option").each(function(){
					if($(this).val()==cityID){
						$(this).attr("selected","selected");
					}
				})
				
				
					
				
				
			
		});
		}
	}
		
		//国省改变事件
		$("[name=country]").on("change",function(){	
			country=$(this).val();
			$("[name=provincialid]").html("");
			$("[name=cityid]").html("");
			province(country);
		
		})
		$("[name=provincialid]").on("change",function(){
			  provincialID=$(this).val();
			  $("[name=cityid]").html("");
			  cityID=$(this).val();
			city(provincialID);
		});
		
		
		countrys();
		
	
		//update
		$("#update").click(function(){
		User["userrealname"]=$("input[name=userrealname]").val();
		User["signature"]=$("input[name=signature]").val();
		User["identitytype"]=$("select[name=identitytype] option:selected").val();
		User["identitynumder"]=$("input[name=identitynumder]").val();
		User["country"]=$("select[name=country] option:selected").val();
		User["provincialid"]=$("select[name=provincialid] option:selected").val();
		User["cityid"]=$("select[name=cityid] option:selected").val();
		User["livecityid"]=$("select[name=livecityid] option:selected").val();
		User["merchantemail"]=$("input[name=merchantemail]").val();
		User["merchantphone"]=$("input[name=merchantphone]").val();
		User["qq"]=$("input[name=qq]").val();
		User["wechat"]=$("input[name=wechat]").val();
		User["profession"]=$("input[name=profession]").val();
		User["height"]=$("input[name=height]").val();
		User["constellation"]=$("select[name=constellation] option:selected").val();
		User["age"]=$("input[name=age]").val();
		User["selfintroduction"]=$(".note-editable ").text();
		if($("input[name=identityrealname]").val()!="undefined"){
			User["identityrealname"]=$("input[name=identityrealname]").val();
		}
		
		var zhuanye="";
		var languages="";
		//专业
		$("input[name=major]").each(function(index,obj){
			
			if($(this).prop("checked")){
				zhuanye+=$(this).val()+" ";
			}
			});
		
		//语言
		$("input[name=languagenametext]").each(function(index,obj){
			
			if($(this).prop("checked")){
				languages+=$(this).val()+" ";
			}
			});
		User["majornametext"]=zhuanye;
		User["languagenametext"]=languages;
		
		if(zhuanye==""){
			showTool("至少选择1项专业");
			return;
		}
		if(languages==""){
			showTool("至少选择1项语言");
			return;
		}
		
		if($("input[name=userrealname]").val()==""){
			showTool("真实姓名不能为空！");
			return ;
		}
		
		if($(".note-editable ").text()==""){
			showTool("自我介绍不能为空！");
			return ;
		}
		
		
		$.ajax("/c/lz/user/updateshop",{
			type:"post",
			contentType:"application/json",//非常重要
			data:JSON.stringify(User),//非常重要
			dataType:"json",
			
			success:function(data){
				if(data.code==200){
					qikoo.dialog.alert("更新成功！");	
					
					$(".console-btn-confirm").on("click",function(){
						 window.location.href="center";
					})
					 
				}else{
					qikoo.dialog.alert("更新失败！");	
				}
			}
		});
		
		
		
		});
		
		//Withdrawal deposit
		
		function deposit(){
			var userid="[[${session.userinfo.userid}]]";
			qikoo.dialog.confirm('确定要退保证金吗？',function(){
				alert("确定啦！");
				 			 
	        },function(){
				alert("取消啦！");
		});
		}
		
	</script>

</html>